@charset "utf-8";

.categories {
	width: 100%;
}

.categories ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	/*border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	height:40px;*/
	width: 100%;
}

.categories div {
	width: 100%;
}

.categories ul li {
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
	background-color: #999999;
	margin-bottom: 2px;
	width: 10%;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	height: 35px;
	line-height: normal;
}

.categories ul li a {
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 2px;
	text-transform: none;
}

.categories ul li a:hover {
	cursor: pointer;
	cursor: hand;
	color: #000000;
}

.categories .catselect {
	background-color: #FFFFFF;
}

.categories .catselect a {
	color: #000000;
}

#catmenu {
	display: inline-block;
	margin-bottom: 10px;
}

.categories p {
	display: inline-block;
}

.ttesinfos {
	width: 100%;
}

.ttesinfos ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.ttesinfos ul li {
	margin-bottom: 10px;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 20px;
	list-style: none;
	background-image: none;
}

.ttesinfos ul li:hover {
	list-style: none;
}

.ttesinfos ul  li h2 {
	padding-left: 15px;
	font-weight: bold;
	margin-left: 0px;
	text-transform: none;
	font-size: medium;
}

.ttesinfos ul li p {
	text-transform: none;
}

.ttesinfos ul  li .date {
	font-size: x-small;
}

.pager_page {
	text-align: center;
	margin-top: 2px;
}

.pager_page span {
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	color: gray;
	border: none;
	font-size: 1.2em;
	cursor: pointer;
	cursor: hand;
}

.pager_page span:hover {
	padding-left: 2px;
	padding-right: 2px;
	font-size: 1.2em;
	color: black;
	border: solid 1px;
}