@charset "utf-8";

 .categories {
	width: 100%;
}
.categories ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	/*border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	height:40px;*/
	width: 100%;
}
.categories div {
    margin-left: 25px;
}
.categories ul li {
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
	background-color: #999999;
	margin-bottom: 2px;
	width: 10%;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	height:35px;
	line-height:normal;
}
.categories ul li a {
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 2px;
	text-transform: none;	
}
.categories ul li a:hover {
	color: #000000;
}
.categories .catselect {
    background-color:#FFFFFF;
}
.categories .catselect a{
	color:#000000;
}
.categories #previnfos{
	display:inline-block;
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 0px;
}
#catmenu{
display:inline-block;
}
.categories p{
	display:inline-block;
}
.categories p #nextinfos{
padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.ttesinfos {
	width: 100%;
}
.ttesinfos ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}
.ttesinfos ul li {
	margin-bottom: 10px;
	background-color: #FFFFFF;
	padding: 5px;
	margin-left: 0px;
	margin-top: 20px;
	list-style: none;
	background-image:none;
}
.ttesinfos ul li:hover {
	list-style: none;
}
.ttesinfos ul  li h2 {
	padding-left: 15px;
	font-weight: bold;
	margin-left: 0px;
	text-transform: none;
	font-size: medium;
}
.ttesinfos ul li p  {
	text-transform: none;
}

.ttesinfos ul  li .date {
	font-size: x-small;
}
pe: none;
	margin: 0px;
	padding: 0px;
	
}
.ttesinfos ul li {
	margin-bottom: 10px;
	background-color: #FFFFFF;
	padding: 5px;
	margin-left: 0px;
	margin-top: 20px;
	list-style