@CHARSET "UTF-8";

div.next_prev {
	background-color: white;
	position: fixed;
	top: auto;
	bottom: 5px;
	width: 340px;
	padding: 5px;
	border: 2px solid gray;
	border-radius: 5px;
}

#prev {
  left: 5px;
  right: auto;
}

#next {
  right: 5px;
  left: auto;
  text-align: right;
}

div.next_prev a {
  color: black;
}

div.next_prev h2 {
  font-size: 14px;
}

div.next_prev h3 {
  font-size: 13px;
}

div.next_prev hr {
  height: 0px;
  margin: 3px 0 5px;
}
