/* Resume
------------------------------
    1. Reset
    2. Global
    	2.1 Top Nav
    3. New devices
    4. Print

*/

/* Couleurs
------------------------------
	#currentext	:	#2a2a2a
	#bluevdn	:	#029fff
*/

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. RESET <<<-----------*/
/* ----------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #029fff; color:#fff; text-shadow: none; }
::selection { background:#029fff; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #029fff; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #2a2a2a; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #0065a3; text-decoration: none; }
a:hover { color: #df720b; text-decoration: none; }

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. GLOBAL <<<-----------*/
/* ----------------------------------------------------------*/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* classe spéciale pour les éléments non visibles du footer */
.espacement {padding-top:10px;}

html {font-size: 16px;}
body {
	background: #ededed;
	font: .750em/1.5em Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
}
#main {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.header {
	display: block;
	background: #fdfdfd url("../images/bg-header.gif") repeat-x bottom left;
}
#mega {background: white;}
.oas {padding: 10px 0; text-align: center; margin-bottom: 10px;}
.double-oas {margin: 10px 0; padding: 0; float: left; clear: both; width: 100%; background: transparent}
.double-oas div {float: left;}
.double-oas .pub-01 {padding-right: 9px;}
.double-oas div img {display: block; text-align: center;}
.oas img {display: block; margin: 0 auto;}
.wrap-content {
	padding: 0 10px 10px 10px;
	background: white;
	margin-bottom: 10px;
	clear: both;
}
.ui-tabs-hide {display: none;}

	/* -------------------------------------------------------------------------------------------------->>> 2.1 Top Nav <<<-----------*/

#max-gen-nav {
	width: 100%;
	background: #979797;
	position: fixed;
	-o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	z-index: 10000;
}
#gen-nav {
	width: 1000px;
	margin: 0 auto;
	clear: both;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
#gen-nav img {display: block;}
#gen-nav .clearfix {float: left;}
#gen-nav .clearfix li {
	display: block;
	float: left;
	padding-bottom: 3px;
	border-left: 1px solid #e2e2e2;
	line-height: 1.5em;
}
#gen-nav .clearfix li a {
	background: #979797;
	display: block;
	float: left;
	border-bottom: 1px solid #e2e2e2;
	padding: 3px 7px;
	color: white;
	text-align: center;
	line-height: 1.5em;
}
#gen-nav .clearfix li a:hover, #gen-nav .clearfix li a:focus {text-decoration: none;}
#gen-nav .item-00 {background: #d9d9d9;}
#gen-nav .item-00 a {height: 1.5em;}
#gen-nav .item-00 a:hover, #gen-nav .item-00 a:focus {background: #d9d9d9;}

#gen-nav .item-01 {background: #018abe;}
#gen-nav .item-01 a:hover, #gen-nav .item-01 a:focus {background: #018abe; text-decoration: none;}

#gen-nav .item-02 {background: #e37715;}
#gen-nav .item-02 a:hover, #gen-nav .item-02 a:focus {background: #e37715; text-decoration: none;}

#gen-nav .item-03 {background: #870078;}
#gen-nav .item-03 a:hover, #gen-nav .item-02 a:focus {background: #870078; text-decoration: none;}

#gen-nav .item-04 {background: #167e9d;}
#gen-nav .item-04 a:hover, #gen-nav .item-02 a:focus {background: #167e9d; text-decoration: none;}

#gen-nav .item-05 {background: #c5000e;}
#gen-nav .item-05 a:hover, #gen-nav .item-02 a:focus {background: #c5000e; text-decoration: none;}

#gen-nav .item-06 {background: #cc3467;}
#gen-nav .item-06 a:hover, #gen-nav .item-02 a:focus {background: #cc3467; text-decoration: none;}

#gen-nav .item-07 {background: #5aaa24;}
#gen-nav .item-07 a:hover, #gen-nav .item-02 a:focus {background: #5aaa24; text-decoration: none;}

#gen-nav .item-08 {background: #9a1816;}
#gen-nav .item-08 a:hover, #gen-nav .item-02 a:focus {background: #9a1816; text-decoration: none;}

#gen-nav .item-09 {background: #612f88;}
#gen-nav .item-09 a:hover, #gen-nav .item-02 a:focus {background: #612f88; text-decoration: none;}

#gen-nav .item-10 {background: #a5954b;}
#gen-nav .item-10 a:hover, #gen-nav .item-02 a:focus {background: #a5954b; text-decoration: none;}

#max-gen-nav #gen-nav .selected a {background: white; color: black;}
#max-gen-nav #gen-nav .clearfix .item-11 a {border: 0; padding-right: 15px; background: transparent url('../images/more.png') no-repeat center right;}

#gen-nav #sso {float: right; margin-top: 3px;}
#gen-nav #sso ul {list-style: none none; margin: 0; color: white;}
#gen-nav #sso ul li {display: inline; margin: 0; font-size: .9em;}
#gen-nav #sso ul li a {color: white;}
#gen-nav #sso ul li a:hover, #gen-nav #sso ul li a:focus {text-decoration: underline;}
#gen-nav #sso ul li img {display: inline; position: relative; top: 3px;}

		/* -------------------------------------------------------------------------------------------------->>> 2.1.1 The Undertaker <<<-----------*/

#display-menu {
	display: none;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 28px;
	z-index: 10000;
}
.undertaker {
	background: white;
	clear: both;
	margin: 0 auto;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	width: 970px;
	padding: 5px 2px 2px 2px;
	-o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.kane {
	float: right;
	padding: 5px 2px 2px 2px;
	-o-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.undertaker .under-innerwrap {background: #f2f2f2; display: block; float: left; width: 100%;}
.undertaker .zone-col {
	float: left;
	width: 740px;
	padding-bottom: 20px;
} 
.undertaker .col {
	float: left;
	margin: 10px 0;
	padding: 0 20px;
	border-right-width: 1px;
	border-right-style: solid;
}
.undertaker .col:last-child {border-right-width: 0;}
.undertaker .col ul {list-style: none none; margin: 0;}
.undertaker .col li ul {padding-left: 10px;}
.undertaker .col .list-title {font-size: .9em; font-weight: bold; font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif; text-transform: uppercase;}
.undertaker .col li li {font-size: 1em; font-weight: normal; font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif; text-transform: none;}
.undertaker .col a {color: #424242;}
.undertaker .col a:hover, .undertaker .col a:focus {text-decoration: underline;}
.undertaker .hentry {
	background: white;
	width: 210px;
	padding: 10px;
	float: left;
}
.undertaker .hentry .a-title {
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
}
.undertaker h1 {
	font-weight: bold;
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 5px;
}
.undertaker h1 a {color: black;}
.undertaker .entry-content {margin: 5px 0; color: black;}
.undertaker .topics {font-weight: bold; font-size: 1.1em; text-decoration: underline; margin: 5px 0; display: block;}
.undertaker .topics span {text-transform: uppercase;}
.undertaker .odd-link {display: block; float: left; margin: 10px;}
.undertaker .hentry .hmedia img {
	display: block;
	margin: 0 auto;
	border-style: solid;
	border-width: 2px; 
}

#under-item-01 {background: #018abe;}
#under-item-01 .a-title {color: #018abe;}
#under-item-01 .hentry .hmedia img {border-color: #018abe}
#under-item-01 .col {border-color: #018abe}

#under-item-02 {background: #e37715;}
#under-item-02 .a-title {color: #e37715;}
#under-item-02 .hentry .hmedia img {border-color: #e37715}
#under-item-02 .col {border-color: #e37715}

#under-item-03 {background: #870078;}
#under-item-03 .a-title {color: #870078;}
#under-item-03 .hentry .hmedia img {border-color: #870078}
#under-item-03 .col {border-color: #870078}

#under-item-04 {background: #167e9d;}
#under-item-04 .a-title {color: #167e9d;}
#under-item-04 .hentry .hmedia img {border-color: #167e9d}
#under-item-04 .col {border-color: #167e9d}

#under-item-05 {background: #c5000e;}
#under-item-05 .a-title {color: #c5000e;}
#under-item-05 .hentry .hmedia img {border-color: #c5000e}
#under-item-05 .col {border-color: #c5000e}

#under-item-06 {background: #cc3467;}
#under-item-06 .a-title {color: #cc3467;}
#under-item-06 .hentry .hmedia img {border-color: #cc3467}
#under-item-06 .col {border-color: #cc3467}

#under-item-07 {background: #5aaa24;}
#under-item-07 .a-title {color: #5aaa24;}
#under-item-07 .hentry .hmedia img {border-color: #5aaa24}
#under-item-07 .col {border-color: #5aaa24}

#under-item-08 {background: #9a1816;}
#under-item-08 .a-title {color: #9a1816;}
#under-item-08 .hentry .hmedia img {border-color: #9a1816}
#under-item-08 .col {border-color: #9a1816}

#under-item-09 {background: #612f88;}
#under-item-09 .a-title {color: #612f88;}
#under-item-09 .hentry .hmedia img {border-color: #612f88}
#under-item-09 .col {border-color: #612f88}

#under-item-10 {background: #a5954b;}
#under-item-10 .a-title {color: #a5954b;}
#under-item-10 .hentry .hmedia img {border-color: #a5954b}
#under-item-10 .col {border-color: #a5954b}

#under-item-11 {
	background: transparent;
	padding: 0;
	-o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
#under-item-11 .a-title {color: #979797;}
#under-item-11 .hentry .hmedia img {border-color: #979797}
#under-item-11 .col {border-color: #979797}
#under-item-11 .kane {background: #979797; margin-right: 170px;}

	/* -------------------------------------------------------------------------------------------------->>> 2.2 Header content <<<-----------*/

#header-content {
	width: 1000px;
	margin: 0 auto;
	padding-top: 43px;
}
.the-logo {display: block; float: left; margin: 0 0 0 11px;}
.the-logo img {display: block; float: left;}
.the-logo em {float: left; clear: left; font-family: "Avant Garde", "Century Gothic", sans-serif; letter-spacing: 0.015em; font-style: normal;}
#header-content div {float: left;}
.ie6 #header-content div {display: inline;}

	/* -------------------------------------------------------------------------------------------------->>> 2.3 Header search <<<-----------*/

#header-content #search {
	position: relative;
	width: 324px;
	margin: 15px 0 0 29px;
	z-index: 500;
}
#header-content #search a {display: block; font-size: .85em; clear: both; text-align: right;}
#header-content #search .text-item {
	width: 291px;
	height: 20px;
	padding: 5px 30px 5px 2px;
	border: 1px solid #9d9d9d;
	color: #9d9d9d;
	float: left;
}
#header-content #search .btn-submit {
	background: #eb8111 url('../images/je-recherche.jpg') no-repeat 0 0;
	width: 27px;
	height: 27px;
	position: absolute;
	top: 2px;
	right: 2px;
	border: 0;
	display: block;
	text-indent: -999em;
}

	/* -------------------------------------------------------------------------------------------------->>> 2.4 Header social <<<-----------*/

#header-content #social {list-style: none none; float: right; border: 1px solid #bcbcbc; background: white; padding: 5px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#header-content #social li {margin: 0 0 4px 0;}
#header-content #social li:last-child {margin: 0;}
#header-content #social img {display: block;}

	/* -------------------------------------------------------------------------------------------------->>> 2.5 Header links <<<-----------*/

#header-content #links {margin: 15px 0 0 9px;}
#header-content #links ul {list-style: none none;}
#header-content #links ul li {margin: 0 10px 0 0; border: 1px solid #bcbcbc; background: white; font-size: .9em; display: block; float: left; width: 115px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#header-content #links ul li a {display: block; padding: 5px; line-height: 1.3em;}

	/* -------------------------------------------------------------------------------------------------->>> 2.6 Header onglets <<<-----------*/

#header-content nav {float: left; clear: both;}
#header-content nav li {display: block; float: left; height: 31px; position: relative;}
#header-content nav li a {display: block; font-weight: 900; color: #0065a3; padding: 5px 15px; height: 29px}
#header-content nav li a:hover, #header-content nav li a:focus {color: #029fff}
#header-content nav .selected {
	background: white url('../images/bg-rt-menu.gif') no-repeat top right;
	padding-right: 15px;
}
#header-content nav .selected a {
	color: #2a2a2a;
	background: white url('../images/bg-lt-menu.gif') no-repeat top left;
	padding: 5px 5px 0 12px;
	cursor: text;
	text-decoration: none;
}
#header-content nav li ul {display: none;}
#header-content nav li:hover ul {
	background: white;
	position: absolute;
	display: block;
	top: 30px;
	left: 0;
	padding: 5px;
	border: 1px solid #ccc;
	width: 150px;
}
#header-content nav li ul li {
	background: transparent url("../images/seb.gif") no-repeat center left;
	padding-left: 8px;
	clear: left;
	height: 20px;
	font-size: .9em;
}
#header-content nav li ul li a {
	background: none;
	padding: 0;
	font-weight: normal;
}
#header-content nav .more a span {
	background: transparent url('../images/puce-plus.gif')  no-repeat center right;
	padding-right: 15px;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 3. MAIN <<<-----------*/
/* ----------------------------------------------------------*/

#main .col-01 {
	width: 629px;
	float: left;
	padding: 0 11px;
}
#main .col-02 {
	float: left;
	width: 336px;
	padding-right: 13px;
}
#main section .section-title {
	display: block;
	height: 24px;
	float: left;
	clear: both;
	width: 100%;
	background: white url('../images/bg-section-title.gif') repeat-x bottom left;
}
#main section .section-title span {
	display: block;
	float: left;
	background: transparent url('../images/bg-span-title.png') no-repeat top right; #018abe;
	padding-right: 12px;
	text-transform: uppercase;
}
#main section .section-title span em {
	color: white;
	display: block;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-weight: bold;
	font-style: normal;
	padding: 0 10px;
	background: #018abe url('../images/bg-title.gif') repeat-x bottom left;
	line-height: 24px;
}
#main article {float: left; display: inline;}
#main .une-marge {margin-right: 9px;}
#main .manchette {width: 609px;}
#main .little {width: 290px; float: left;}
#main .hnews {
	background: white;
	padding: 10px;
	margin-bottom: 10px;
}
#main .sub-section-item {
	border-top-style: solid;
	border-top-width: thick;
}
#main .sub-section-item h1 {
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	font-weight: 900;
	font-size: 1.4em;
	padding-bottom: 10px;
	text-transform: uppercase;
}
#main .hnews .entry-title {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 1.9em;
	line-height: 1.1em;
	font-weight: normal;
}
#main .sub-section-item .entry-title {font-size: 1.5em;}
#main .hnews .hmedia img {display: block; margin: 0 auto;}
#main .little .hmedia {margin-top: 10px;}
#main .manchette .hmedia {padding-bottom: 5px;}
#main .hnews .up {color: #818080; font-size: .85em; padding-bottom: 5px;}
#main .hnews .tags {font-size: .85em;}
#main .hnews .tags a, #main .more a {text-decoration: underline;}
#main .hnews .tags a:hover, #main .hnews .tags a:focus, #main .more a:hover, #main .more a:focus {text-decoration: none;}
#main .more {text-align: right; line-height: 1;}

#main .sub-section-01 {border-color: #018abe;}
#main .sub-section-01 h1 {color: #018abe;}

#main .sub-section-02 {border-color: #e37715;}
#main .sub-section-02 h1 {color: #e37715;}

#main .sub-section-03 {border-color: #870078;}
#main .sub-section-03 h1 {color: #870078;}

#main .sub-section-04 {border-color: #167e9d;}
#main .sub-section-04 h1 {color: #167e9d;}

#main .sub-section-05 {border-color: #c5000e;}
#main .sub-section-05 h1 {color: #c5000e;}

#main .sub-section-06 {border-color: #cc3467;}
#main .sub-section-06 h1 {color: #cc3467;}

	/* -------------------------------------------------------------------------------------------------->>> 3.2 Agenda <<<-----------*/

.wrap-agenda abbr {border: 0;}
.wrap-agenda .more {margin-top: 10px;}
.wrap-agenda .vevent {
	padding: 10px;
	clear: both;
	color: #3b3b3b;
}
.wrap-agenda .even {background: #ededed; text-shadow: 1px 1px 0 white;}
.wrap-agenda .vevent .hmedia {
	float: left;
	padding-right: 10px;
}
.wrap-agenda h1 {font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif; font-size: 1.5em; font-weight: normal;}
.wrap-agenda .vevent .location {font-style: italic; color: #333;}

	/* -------------------------------------------------------------------------------------------------->>> 3.3 Images <<<-----------*/

.wrap-images ul {list-style: none none; padding: 20px 0 10px 0; margin: 0 !important;}
.wrap-images ul li {display: block; float: left; margin: 0 14px; width: 124px}
.ie6 .wrap-images ul li {display: inline;}
.wrap-images ul li img {display: block;border: 1px solid #ccc; padding: 1px; background: white;}
.wrap-images ul li p {color: #666; font-size: .85em;}

	/* -------------------------------------------------------------------------------------------------->>> 3.4 Videos <<<-----------*/

.wrap-videos ul {list-style: none none; padding: 20px 0 10px 0; margin: 0 !important;}
.wrap-videos ul li {display: block; float: left; margin: 0 8px; width: 104px}
.ie6 .wrap-videos ul li {display: inline;}
.wrap-videos ul li img {display: block;border: 1px solid #ccc; padding: 1px; background: white;}
.wrap-videos ul li p {color: #333; font-size: .7em;}
.wrap-videos ul li p abbr {border: 0;}

	/* -------------------------------------------------------------------------------------------------->>> 3.5 Le Fil Info <<<-----------*/

#fil-info {
	background: #dcdee4;
	clear: both;
	margin-bottom: 10px;
}
#fil-info ul {float: right; list-style: none none; margin: 0;}
#fil-info ul li {
	margin-left: 5px;
	font-size: .9em;
	display: block;
	float: left;
}
#fil-info ul li a {
	background: white;
	padding: 1px 3px;
	display: block;
	color: #2a2a2a;
}
#fil-info ul .ui-state-active a, #fil-info ul a:hover {background: #027eb2;color: white;}
#fil-info h1 {float: left;}
#fil-info h1 span {
	display: block;
	color: white;
	padding: 4px 40px 4px 10px;
	text-transform: uppercase;
	background: #027eb2 url('../images/bg-fil.gif') no-repeat top right;
}
#fil-info .wrap-fil {
	background: white;
	clear: both;
	height: 120px;
	overflow: auto;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
}
#fil-info .wrap-fil table {
	margin: 10px;
}
#fil-info .wrap-fil table thead tr, #fil-info .wrap-fil table caption {display: none;}
#fil-info .wrap-fil table td {
	border-bottom: 1px dotted #b5c2cd;
	padding: 1px;
	color: #757575;
	font-size: .9em;
	vertical-align: middle;
}
#fil-info .wrap-fil table td a {color: #757575;}
#fil-info .wrap-fil table td a:hover, #fil-info .wrap-fil table td a:focus {color: #029fff;}
#fil-info .wrap-fil table .color a {}
#fil-info .wrap-fil table .hour {
	vertical-align: top;
	text-align: right;
	width: 80px;
	padding-right: 5px;
}
#fil-info .wrap-fil table .hour abbr {border: 0;}
#fil-info .more {
	padding: 5px 10px 5px 0;
	border: 1px solid #cfcfcf;
	border-top: 0 none;
}

	/* -------------------------------------------------------------------------------------------------->>> 3.6 Le Journal Numerique <<<-----------*/

#newspaper {
	clear: both;
	margin-bottom: 10px;
	background: #0182b6 url("../images/fond-num.jpg") no-repeat top right;
	border: 2px solid #3c3c3c;
	position: relative;
}
.ie6 #newspaper, .ie7 #newspaper, .ie8 #newspaper, .ie9 #newspaper {height: 249px;}
#newspaper .title-news {
	display: block;
	float: left;
	width: 165px;
	height: 41px;
	background: transparent url("../images/journal-numerique.png") no-repeat 0 0;
	text-indent: -999em;
	position: relative;
	left: -12px;
	top: -2px;
}
#newspaper .title-news a {display: block;}
#newspaper .cover-vdn {
	float: left;
	display: block;
	clear: left;
	margin: 5px 10px 0 20px;
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
#newspaper .cover-vdn img {display: block;}
#newspaper .prev, #newspaper .next {position: absolute; display: block; width: 21px; height: 44px; text-indent: -999em;}
#newspaper .prev:focus, #newspaper .next:focus {outline: 0;}
#newspaper .prev {
	top: 95px;
	left: 170px;
	background: transparent url("../images/prev.gif") no-repeat 0 0;
}
#newspaper .next {
	top: 95px;
	right: 15px;
	background: transparent url("../images/next.gif") no-repeat 0 0;
}
#newspaper .edition {
	color: white;
	display: block;
	float: right;
	width: 455px;
	font-size: 1.1em;
	border-bottom: 2px solid white;
	margin-top: 3px;
	padding-top: 10px;
	position: relative;
}
#newspaper .edition strong {background: #0182b6; position: absolute; display: block; float: left; padding: 0 8px; 3px; 3px; top: 1px;}
#newspaper .tools {
	list-style: none none;
	margin: 0;
	float: left;
}
#newspaper .carousel {
	float: left;
	width: 390px !important;
	margin: 1px 0 0 35px;
	overflow: hidden;
}
#newspaper .carousel ul {list-style: none none; margin: 0;}
.ie8 #newspaper .carousel ul li {height: 155px;}
#newspaper .carousel .hnews {background: transparent; color: white;}
#newspaper .carousel .hnews .hmedia {float: right; margin: 0 0 0 10px;
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
#newspaper .carousel .hnews strong {text-transform: uppercase; margin: 0; padding: 0;}
#newspaper .carousel .hnews .entry-title {color: white; font-size: 1.5em; font-weight: bold; font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;}
#newspaper .carousel .hnews a:hover, #newspaper .carousel .hnews a:focus {text-decoration: underline;}
#newspaper .carousel .hnews .entry-content {line-height: 1.3em;}

#newspaper .summary {
	display: block;
	float: left;
	background: transparent url("../images/voir-sommaire.png") no-repeat 0 0;
	width: 156px;
	height: 40px;
	margin-left: 80px;
	margin-bottom: 10px;
	text-indent: -999em;
}
#newspaper .summary a {display: block; width: 156px; height: 40px;}
#newspaper .view-all {
	display: block;
	float: left;
	background: transparent url("../images/edition-prec.gif") no-repeat 0 0;
	width: 179px;
	padding-left: 17px;
	height: 20px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: .85em;
	margin-top: 10px;
	margin-left: 15px;
}
#newspaper .view-all a {display: block; width: 196px; height: 20px; color: white;}
#newspaper .view-all a:hover, #newspaper .view-all a:focus {text-decoration: underline;}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 4. SIDEBAR <<<-----------*/
/* ----------------------------------------------------------*/

	/* -------------------------------------------------------------------------------------------------->>> 4.1 Message <<<-----------*/

.message {padding: 10px; background: white; margin-bottom: 10px;}

	/* -------------------------------------------------------------------------------------------------->>> 4.2 Tous les sujets <<<-----------*/

.all-subjects {
	background: white;
	float: left;
	margin-bottom: 10px;
	width: 100%;
	padding-bottom: 10px;
}
.all-subjects h1 {
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #005e97;
	margin-bottom: 20px;
	border-bottom: 2px solid #005e97;
}
.all-subjects h1 span {background: white; padding: 0 10px; position: relative; top: 8px;}
.all-subjects h2 {
	display: block;
	border-top: 2px solid #dcdee4;
	margin-top: 10px;
}
.all-subjects h2 .pepin {
	display: block;
	padding: 2px 0 2px 30px;
	background: #e9ebee;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	color: #01103b;
	margin: 0 20px;
	cursor: pointer;
}
.all-subjects h2 .ui-icon {float: right; margin: 5px 25px 0 0; width: 10px; height: 10px;}
.all-subjects h2 .ui-icon-triangle-1-s {background: transparent url("../images/s.gif") no-repeat center center;}
.all-subjects h2 .ui-icon-triangle-1-e {background: transparent url("../images/e.gif") no-repeat center center;}
.all-subjects ul {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
	padding: 10px 20px 0 20px;
	list-style: none none;
	margin: 0;
}
.all-subjects ul li {
	padding-left: 10px;
	background: transparent url("../images/puce-01.gif") no-repeat 0 3px;
	line-height: 1.1em;
	padding-bottom: 5px;
	font-size: .9em;
	margin: 0;
}
.all-subjects .fruit-01 .pepin {background: #e9ebee url("../images/fruit-01.png") no-repeat 5px 2px;}
.all-subjects .fruit-02 .pepin {background: #e9ebee url("../images/fruit-02.png") no-repeat 5px 2px;}

.all-subjects .noyau label {display: none;}
.all-subjects .noyau input {
	border: 1px solid #a3a3a3;
	padding: 2px;
	background: white;
	color: #868686;
	width: 290px;
	margin: 10px 20px 0 20px;
}

	/* -------------------------------------------------------------------------------------------------->>> 4.3 Mostread <<<-----------*/

.almost {
	background: white;
	margin-bottom: 10px;
}
.almost .tabs {
	background: #dedfe5 url("../images/bgtabs.gif") repeat-x 0 0;
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 4px solid #045d93;
}
.almost .tabs li {
	display: block;
	float: left;
	font-size: .85em;
	width: 50%;
	white-space: nowrap;
}
.almost .tabs li a {
	display: block;
	padding: 2px;
	color: #045d93;
	text-align: center;
}
.almost .tabs li a:hover, .almost .tabs .ui-tabs-selected a {
	background: #045d93;
	color: #fff;
}
.almost .content-tabs {padding: 10px;}
.almost ul {list-style: none none; margin: 0; clear: both;}
.almost .content-tabs ul li {padding: 0 0 10px 30px;}
.almost .content-tabs ul .not-free {background: transparent url("../images/notfree.gif") no-repeat 0 4px;}


/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 4. FOOTER <<<-----------*/
/* ----------------------------------------------------------*/

#max-footer {
	border-top: 1px solid #c4c4c4;
	background: #dfdfdf url('../images/bg-footer.gif') repeat-x 0 0;
}
#max-footer #footer {
	margin: 0 auto;
	width: 1000px;
	position: relative;
	background: transparent url('../images/bg-footer.jpg') no-repeat 0 0;
}
#max-footer #footer .col {color: #727272; float: left; padding: 0 20px; margin: 10px 0; border-right: 1px solid #ccc; width: 150px; height: 250px;}
#max-footer #footer .with-pics {width: 162px;}
#max-footer #footer .last {width: 180px;}
footer #max-footer #footer .col:last-child, footer #max-footer #footer .last {border: 0 !important;}
#max-footer #footer .col a {color: #727272;}
#max-footer #footer .col a:hover, #max-footer #footer .col a:focus {text-decoration: underline;}
#max-footer #footer .col strong {display: block; padding-bottom: 1em; line-height: 1.2em;}
#max-footer #footer .col ul {list-style: none none; margin: 0; padding-bottom: 1em; padding-left:0px; }
#max-footer #footer .col ul li {font-size: .9em; line-height: 1.2em;}

#max-footer #footer .with-pics li {
	display: block;
	padding: 10px 0 5px 25px;
}
#max-footer #footer .with-pics a {
	text-transform: uppercase;
	font-weight: bold;
}
.artefact-01 {background: transparent url('../images/icons/journal.gif') no-repeat 0 10px;}
.artefact-02 {background: transparent url('../images/icons/agenda.png') no-repeat 0 7px;}
.artefact-03 {background: transparent url('../images/icons/jeux.png') no-repeat 0 7px;}
.artefact-04 {background: transparent url('../images/icons/rss.png') no-repeat 0 9px;}
.artefact-05 {background: transparent url('../images/icons/newsletter.png') no-repeat 0 8px;}
.artefact-06 {background: transparent url('../images/icons/home.gif') no-repeat 0 9px;}


footer #max-footer #footer .all-websites {
	background: transparent url('../images/all-websites-open.gif') no-repeat 0 0;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	padding: 3px 5px 0 5px;
	color: white;
	width: 162px;
	height: 20px;
}

#display-footer {
	display: none;
	background: #dfdfdf;
	color: #363636;
	position: absolute;
	width: 970px;
	bottom: 60px;
	left: 15px;
	-o-box-shadow: 0 0 2px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.7);
	box-shadow: 0 0 2px rgba(0,0,0,0.7);
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
.ie6 #display-footer, .ie7 #display-footer, .ie8 #display-footer {border: 1px solid #666;}
footer #max-footer #footer #display-footer a {color: #363636;}
footer #max-footer #footer #display-footer a:hover, footer #max-footer #footer #display-footer a:focus {text-decoration: underline;}
footer #max-footer #footer #display-footer .close {
	display: block;
	background: transparent url('../images/fermer.png') no-repeat center center;
	font-size: .85em;
	float: right;
	color: white;
	text-align: center;
	margin: 3px 3px 0 0;
	width: 71px;
	line-height: 21px;
	height: 21px;
	text-shadow: 1px 0 3px rgba(0,0,0,0.8);
}
footer #max-footer #footer #display-footer .da-title {
	display: block;
	padding: 5px;
	background: white url('../images/bg-top-footer.gif') repeat-x bottom left;
	text-indent: 15px;
}
footer #max-footer #footer #display-footer .col {border-right: 1px solid #cacaca; width: 185px; height: 175px;}
footer #max-footer #footer #display-footer .col strong {color: #363636; text-transform: uppercase; font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;}
footer #max-footer #footer #display-footer .annonces {width: 225px;}
footer #max-footer #footer #display-footer .col li {
	font-size: .9em;
	line-height: 1.3em;
	padding-left: 12px;
	background: transparent url('../images/puce-02.gif') no-repeat center left;
}

#max-bottom {
	background: #414141;
	clear: both;
}
#max-bottom #bottom {
	margin: 0 auto;
	width: 1000px;
	color: white;
}
#max-bottom #bottom ul {margin: 0; padding: 5px 0; float: left; list-style: none none;}
#max-bottom #bottom li {display: block; float: left; padding: 0 30px;}
footer #max-bottom #bottom a {color: white;}
footer #max-bottom #bottom a:hover, footer #max-bottom #bottom a:focus {text-decoration: underline;}
footer #max-bottom #bottom .first li {border-right: 1px solid white;}
footer #max-bottom #bottom .last li {background: transparent url('../images/bullet.gif') no-repeat center right;}
footer #max-bottom #bottom .last li:last-child {background: none;}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 5. NEW DEVICES <<<-----------*/
/* ----------------------------------------------------------*/

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 6. PRINT <<<-----------*/
/* ----------------------------------------------------------*/

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
