/* Resume
------------------------------
    1. structure
    	1.1 links
    2. article
    	2.1 breadcrumb
    	2.2 linked articles
    	2.3 share list
    	2.4 contact form
    	2.5 list images
    3. Wall
    	3.1 Photos wall
    	3.2 Videos wall
    4. Article section list
    	4.1 vote / recommend
*/

/* Colors
------------------------------
	# texte courant : #2a2a2a
	# red soirmag : #BE0612
*/

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. Structure <<<-----------*/
/* ----------------------------------------------------------*/

#article, #related-article, #article-section, .mur {
	background: white;
	margin-bottom: 20px;
}
#article {
	box-shadow: 2px 2px 2px #888;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
}

	  /* -------------------------------------------------------------------------------------------------->>> 1.1 links <<<-----------*/

#article .connect_button_container {
	float: right;
}
#article-section .connect_button_container {
	position: absolute;
	right: 0;
	top: 9px;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. Article <<<-----------*/
/* ----------------------------------------------------------*/

#article .inner {padding: 10px;}
#article h1 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: 400;
	text-align: left;
	color: black;
	line-height: 1.1em;
	margin-bottom: 0;
}
#article big {
	color: #666;
	display: block;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.3em;
	line-height: 1.2em;
	margin: 0;
	padding: 7px 10px 10px 0;
	text-align: justify;
}
#article small {
	color: #9797A0;
	display: block;
	margin-bottom: 1.1em;
	text-transform: uppercase;
}
#article p {
	color: #333;
	text-align: justify;
}
#article blockquote {
	border-top: thick solid #E0D9B8;
	border-bottom: thick solid #E0D9B8;
	margin-bottom: 1.1em;
	padding: 10px 0;
	text-align: center;
}
#article blockquote p {margin-bottom: 0;}

#article .mini-galerie {
	clear: both;
	margin-bottom: 10px;
}
#article .mini-galerie h2 {
	margin: 0 0 10px 0;
}
#article .mini-galerie ul {
	list-style: none none;
	text-align: center;
}
#article .mini-galerie ul li {
	display: inline-block;
	list-style: none none;
	text-align: center;
	margin: 0 10px;
}
#article .mini-galerie ul li img {
	background: white;
	display: block;
}
#article .mini-galerie ul li a {
	background: white;
	display: block;
	padding: 1px;
	border: 1px solid #666;
}
#article .mini-galerie ul li a:hover, #article .mini-galerie ul li a:focus {
	border: 1px solid #2a2a2a;
}

	  /* -------------------------------------------------------------------------------------------------->>> 2.1 Breadcrumb <<<-----------*/

.addenda {
	padding: 5px 0 0 0;
	font-size: .9em;
	border-bottom: 1px dotted #ccc;
	margin: 0 10px;
}
.addenda p {
	float: left;
	margin: 0;
}
.addenda p span {display: none;}
.addenda p a {
	padding: 3px 0 3px 20px;
}
.addenda p .entities {background: transparent url("../mediastore/elements/tag_red.png") no-repeat center left;}
.addenda p .free_tags {background: transparent url("../mediastore/elements/tag_red.png") no-repeat center left;}
.addenda p .persons {background: transparent url("../mediastore/elements/icons/user.png") no-repeat center left;}
.addenda p .locations {background: transparent url("../mediastore/elements/icons/flag_red.png") no-repeat center left;}
.feed {float: right;}

	  /* -------------------------------------------------------------------------------------------------->>> 2.2 Linked articles <<<-----------*/

#related-article ul {
	list-style: none none;
	margin: 0;
}
#related-article ul li {
	margin: 0;
	line-height: 1.2em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}
#related-article ul li:last-child {border: none;}
#related-article ul li:hover {
	background: #EAE7DA;
	cursor: pointer;
}
#related-article ul li a:hover {text-decoration: none;}

	  /* -------------------------------------------------------------------------------------------------->>> 2.3 Share list <<<-----------*/

.share {
	border-top: 1px dotted #ccc;
	padding: .5em 0;
}
.share p, .share ul li {
	display: inline;
	margin: 0;
}
.share ul li {padding-left: .5em;}
#article .share p {
	color: #666;
	float: left;
}
.share ul {
	float: left;
	margin: 0 .5em 0 0;
}

	  /* -------------------------------------------------------------------------------------------------->>> 2.4 Contact form <<<-----------*/

.contact-form legend {display: none;}
.contact-form ul {list-style: none none;}
.contact-form fieldset {margin: 0;}
.contact-form ul li {
	float: left;
	margin: 0;
	padding-bottom: 10px;
	width: 100%;
}
.contact-form label {
	display: block;
	float: left;
	padding-right: 3px;
	width: 150px;
	text-align: right;
}
.contact-form input[type=text] {
	border: none;
	background: #5CCCCC;
	color: white;
	font-weight: 900;
	padding: 2px;
}
.contact-form #submit_friends {
	display: block;
	margin: 0 auto;
}

	  /* -------------------------------------------------------------------------------------------------->>> 2.5 List images <<<-----------*/

#galeria {
    background: #f0f0f0;
    border: 1px solid #bababa;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    margin: 0 0 1.1em 0;
}
#galeria iframe, #galeria object {
	margin: 10px 10px 0 10px;
}
#galeria ul {
	list-style: none none;
	height: 210px;
	margin: 0 0 10px 0;
	position: relative;
	left: 10px;
	top: 10px;
	width: 418px;
}
#galeria ul li {
	margin: 0
}
#galeria ul li img {
    border:         1px solid #d2d2d2;
    border-bottom:  1px solid #ffffff;
    border-right:   1px solid #ffffff;
}
#galeria .galeria-tools {
    margin: 10px;
    padding: 5px;
    background: #e9e9e9;
    border: 1px solid white;
    border-bottom: 1px solid #bababa;
    border-right: 1px solid #bababa;
}
#galeria .galeria-tools .count-item {
	display: block;
	float: left;
	padding-left: 10px;
	line-height: 1.7em;
}
#galeria .galeria-tools a {
	cursor: pointer;
    background-color: #f0f0f0;
	border: 1px solid #E9E9E9;
	display: block;
	line-height: 1;
	padding: 2px;
}
#galeria .galeria-tools a:hover {
    background-color: #f0f0f0;
    border: 1px solid #bababa;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
#galeria .galeria-tools #btn-galeria-prev {float: left;}
#galeria .galeria-tools #btn-galeria-next {float: right;}

#galeria .galeria-legend {
    color: #767676;
    font-size: .9em;
	line-height: 1.3em;
	padding: 0 10px 10px 10px;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 3. Wall <<<-----------*/
/* ----------------------------------------------------------*/

	  /* -------------------------------------------------------------------------------------------------->>> 3.1 Photos Wall <<<-----------*/

.mur ul {
	padding: 10px 0 0 0;
	float: left;
	width: 100%;
	list-style: none none;
	margin: 0;
}
.mur ul li {
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 0;
	display: block;
	float: left;
	font-size: .85em;
}
.mur ul li a {
	display: block;
	width: 120px;
	position: relative;
}
.mur ul li a span.overlay {
	background: transparent url(../mediastore/elements/frame-gd.png) no-repeat 0 0;
	display: block;
	overflow: hidden;	
	position: absolute;
	top: 0;
	left: 0;
	height: 128px;
	width: 120px;
}
.mur ul li a:hover {text-decoration: none;}
.mur ul li a:hover span.overlay {background: transparent url(../mediastore/elements/frame-gd-on.png) no-repeat 0 0;}

	  /* -------------------------------------------------------------------------------------------------->>> 3.2 Videos Wall <<<-----------*/

#mur-videos ul li a span.overlay {
	background: transparent url(../mediastore/elements/video-frame.png) no-repeat 0 0;
	display: block;
	overflow: hidden;	
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 55px;
}
#mur-videos ul li a:hover span.overlay {
	background: transparent url(../mediastore/elements/video-frame-on.png) no-repeat 0 0;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 4. Article section list <<<-----------*/
/* ----------------------------------------------------------*/

#article-section {overflow: hidden;}
#article-section span.title-section {
	display: block;
	float: left;
	background: #EAE7DA;
	font-weight: 900;
	font-size: 1.5em;
	font-family: 'Trebuchet MS', arial, sans-serif;
	padding: 0 10px 5px 0;
}
#article-section ul {
	list-style: none none;
	margin: 0;
	padding: 10px;
	float: left;
}
#IE6 #article-section ul, #IE7 #article-section ul {width: 440px;}
#article-section ul li {
	margin: 0 0 10px 0;
	padding: 10px 0;
	position: relative;
	float: left;
	width: 100%;
}
#article-section ul li h2 {
	margin: 0;
	padding: 0 60px 0 0;
}
#article-section ul li small {
	border-bottom: 1px dotted #ccc;
	clear: both;
    color: #9797A0;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#article-section ul li p {
	text-align: justify;
	padding-right: 10px;
}
#article-section ul li a.pos:hover {text-decoration: none;}
#article-section ul li a.pos {
	display: block;
	float: left;
	width: 140px;
	margin: 0 10px 0 0;
	position: relative;
}
#article-section ul li a.pos span.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 93px;
	background: transparent url(../mediastore/elements/thumb-frame-gd.png) no-repeat 0 0;
}