@charset "utf-8";
/* CSS Document */

html body, body .sidebar h2 {
	font-family:Arial, Helvetica, sans-serif;
}
#container a:hover {
    color: #003366;
    text-decoration: underline;
}
a img, :link img, :visited img {
    border: none 0;
}
.bloc-01 {
    padding-bottom: 10px;
}


/* ----------------------- Correction du bug IE sur la taille des fontes des blogs -------------------------*/

.container-decorator1 .content,
.container-decorator1 .sidebar,
.container-decorator1 .sidebar a {
    font-size: 13px;
}
.container-decorator1 .sidebar h2 a {
    font-size: 18px;
}
.content h2.date span {
    font-size: 12px;
}
.container-decorator1 .content h3 {
    font-size: 24px;
}

/* ----------------------- ING -------------------------*/

html body {
	background: transparent url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/fond_ing.gif") repeat-y center top;
}
html .sidebar h2, html .content h2.date {
	border-bottom:1px solid #ff6600;
	padding-bottom:8px;
}

/* topmenu */

#topmenu li.ing  {
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/bg_topmenu_ing.gif") repeat-x left top transparent;
}
#topmenu li.ing a {
	font-weight:bold;
}

/* banner */

html #banner {
	display:block;
	height:23px;
	background: transparent url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/banner_ing.gif") no-repeat center top;
	margin:0;
	color:#666;
	text-align:right;
	padding: 7px 90px 0 0;
	font-size:12px;
}
html #banner:after {
	content:"Partenaire de votre commune";
}
#banner h1, #banner h2 {
	display:none
}

/* box callto */

#left .ing .callto h2 {
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/callto_haut.png") no-repeat 0 0 transparent;
	height:45px;
	border:0 none;
	margin:0;
	padding:11px 30px 0 14px;
}
#left .ing .callto h2 a {
	color:#000066;
	font-weight:bold;
	font-size:18px;
}
#left .ing .callto p {
	margin:0;
	padding:0;
}
#left .ing .callto .bottom {
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/callto_bas.png") no-repeat 0 0 transparent;
	height:107px;
	padding:12px 10px 26px 13px;
	margin-bottom:10px;
}
#left .ing .callto .bottom a {
	color:#FF6600;
	font-weight:bold;
	display:block;
	padding:25px 0 0;
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/btn_callto.png") no-repeat 103px 29px transparent;
}

/* box agences */

#left .ing .agences {
	margin-bottom:20px;
}
#left .ing .agences, #left .ing .agences h3, #left .ing .agences a {
	color:#fff;
	font-size:12px;
}
#left .ing .agences h2 {
	padding:11px 16px 0 14px ;
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/agences.png") no-repeat 0 0 transparent;
	border:0 none;
	margin:0;
}
#left .ing .agences h2 a {
	text-decoration:underline;
}
#left .ing .agences h2 a:hover {
	color:#000;
}
#left .ing .agences .bottom {
	padding:9px 10px 10px 14px;
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/agences.png") no-repeat 0 bottom transparent;
}
#left .ing .agences .bottom h3 {
	font-weight:bold;
	line-height:13px;
}
#left .ing .agences .bottom p {
	margin: 0 0 8px;
	font-size:11px;
	line-height:13px;
}
#left .ing .agences .bottom img {
	border:0 none;
	background: transparent;
}

/* rubriques */

html #sp_rubriques h2 {
    background: url("http://studio.sudinfo.be/_redaction/_blogs/ing/images/bg_title_ing.gif") no-repeat 0 0 #196DAB;
}


