@CHARSET "UTF-8";

.connect-box-open a {
	cursor: pointer;
}

/* Style for overlay and box */
#connect-overlay {
	background: transparent url(../images/overlay.png) repeat top left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
}

#topmenu {
	z-index: 1002;
}

#connect-box {
	position: fixed;
	top: -200px;
	left: 30%;
	right: 30%;
	background-color: #003365;
	color: #7F7F7F;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	z-index: 1001;
}

#connect-box h1 {
	margin: -20px -20px 0px -20px;
	padding: 10px;
	color: white;
}

a.connect-box-close {
	float: right;
	width: 26px;
	height: 26px;
	background: transparent url(../images/cancel.png) repeat top left;
	margin-top: -30px;
	margin-right: -30px;
	cursor: pointer;
}