.clearfix {
    display: inline-block;
}
.inner-bloc {
	padding: 10px 10px 5px 10px;
	border: 1px solid #ccc;
	border-top: none;
}

/* ---------------------------------- Nos rubriques ---------------------------------- */

#sp_rubriques {
	background: transparent url('../images/bg_shadow3.gif') no-repeat center bottom;
	font: normal .75em/1.4em Arial, FreeSans, Helvetica, 'Trebuchet MS', Tahoma, verdana, sans-serif;
	margin: 0 auto;
	width:940px;
	font-size:12px;
	clear:both;
	padding-top:20px;
	text-align:left;
    padding-bottom: 10px;
}
#sp_rubriques a, .footer a {
    color: #003366;
    text-decoration: none;
}
#sp_rubriques a:hover, .footer a:hover {
    text-decoration: underline;
}
#sp_rubriques h2 {
    background: url("../images/bg_title_blue3.gif") no-repeat scroll 0 0 #196DAB;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 10px;
}
#sp_rubriques .inner-bloc {
	width:918px;
}
#sp_rubriques .supra {
	background: transparent url('../images/separator_vertical1.gif') repeat-y top left;
	float: left;
	width: 136px;
	padding: 0 9px 0 11px;
	margin: 0 0 10px 0;
}
#sp_rubriques .supra.noborder {
	padding: 0 10px 0 0;
	background:none; 
}
#sp_rubriques .supra.last {
	padding: 0 0 0 10px;
}
#sp_rubriques .supra h3, #sp_rubriques .supra h4 {
    color: #000;
    font-weight: normal;
    padding: 5px 0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}
#sp_rubriques .supra h3 {
	font-size: 18px;
	line-height: 1;
}
#sp_rubriques .supra h4 {
    font-size: 13px;
}
#sp_rubriques ul {
	padding: 0;
	margin:0;
}
#sp_rubriques li {
	background: transparent url('../images/ico_arrow_transparent.gif') no-repeat 0 5px;
	padding: 0 0 4px 8px;
	line-height:14px;
	list-style:none;
    font-size:12px;
}


/* --------------------------------- Logos Sudpresse --------------------------------- */


div#global div#footer div#liste_logos.clearfix, /*archives*/
#sp_footer #liste_logos.clearfix {
    text-align: center;
	display:block;
	margin-top:10px;
}

/* ------------------------------------ Copyright ------------------------------------ */

div#global div#footer p.footer, /*archives*/
#sp_footer .footer {
	font-family:Arial, Helvetica, sans-serif;
	clear: left;
	color: #5a5a5a;
	text-align: justify;
	margin: 10px auto;
	width:940px;
    font-size:12px;
}
#sp_footer .footer a {
	text-decoration:underline;
}

/* ----------------------------------- Logo Rossel ----------------------------------- */

div#footer p.rossel, /*archives*/
#sp_footer .rossel {
	clear: left;
	padding-top: 10px;
	text-align: center;
}

