
	/* ------------------- 3.1 Colonne 01 gauche <<<-----------*/
.col-01 {
	width: 630px;
	float: left;
	padding-right: 10px;
}
.col-01 h3, #global .col-01 h2 {
	color: #000;
	font-size: 1.6em;
	margin-bottom: 20px;
	clear: both;
	width: 590px;
	padding: 6px 10px 5px;
	background: url('img/bg_h3_col-01.gif') no-repeat left top;
	line-height: 16px;
	font-weight: 900;
}
#global .col-01 h2 {
	margin: 0;
}


/* ------------------- 3.1.1 Bloc personne <<<-----------*/

.col-01 .hero {
	float: left;
	margin-bottom: 20px;
	width: 110px;
	margin-right: 15px;
}
.col-01 .hero h4 {
	padding-top: 4px;
	height:36px;
	font-size: 1em;
}
.col-01 fieldset h4 {
	color: #000;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

.col-01 .hero p {
	font-size: 0.95em;
	line-height: 1.2em;
	height: 55px;
}
.col-01 .hero .vote, #article a.voter {
	color: white;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 900;
	background: url(../images/btn_voter.gif) no-repeat;
}
.col-01 .hero .vote {
	display: block;
	margin: 5px 0;
	height: 17px;
	width: 60px;
	line-height: 17px;
	text-align:center;
}
#article a.voter {
	padding:2px 13px;
}
#global .col-01 .hero .vote a {
	display: block;
	color: white;
	text-decoration: none;
}
#global .col-01 .hero .vote a:hover, #global .col-01 .hero .vote a:focus {
	text-decoration: underline;
}
/* ------------------- 3.1.2 Contenu texte <<<-----------*/

#article {
	width:610px;
}
#article p {
	margin: 1em 0;
	text-indent: 0;
}
#article .text {
	text-align: justify;
}
#article .type {
	color: #E20031;
	text-transform: uppercase;
	font-weight: 900;
	font-size: .750em;
}
.col-01 #article h3 {
	margin-bottom: 5px;
	width: 610px;
}
#article h4 {
	background: none;
	color: black;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
div#article p.story_date {
	margin: 0;

	color:#999;
	float: left;
	padding-bottom: 20px;
}
div#article p.story_date abbr {
	border-bottom: none;
}
div#article h4.st_intertitre {
	color: #251E26;
}
div#article p.st_mention {
	margin: 0;
	line-height: 1;
}
div#article p.st_signature {
	color:#b3b3b3;
}
div#article p.st_note {
	color: #4a4a4a;
}
#article p.st_entretien_q {
	color: #0A9FDE;
	font-style: italic;
}
div#article blockquote.chapeau {
	font: normal 1.2em/1.4em Arial, FreeSans, Helvetica, 'Trebuchet MS', Tahoma, verdana, sans-serif;
	color: black;
	line-height: 1.5em;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	position: relative;
	clear: right;
}
div#article ul {
	list-style: square;
	list-style-position: inside;
	margin: .625em 0;
	padding: 0;
}
#article ol ul, #article ul ul {
	font-size: 1em;
	margin-left: 2em;
}
div#article ol {
	list-style: decimal-leading-zero;
	list-style-position: inside;
	margin: .625em 0;
	font-size: .75em;
	padding: 0;
}
#article #wrap_illu {
	float: left;
	clear:both;
	margin-right:10px;
}
#article #wrap_illu p {
	margin:0;
}

/* ------------------- 3.1.2.2 Outils <<<-----------*/

#outils {
	margin: 0 !important;
	padding: 0;
}
#outils li {
	color: #4a4a4a;
	display: inline;
	padding-left: 1.5em;
	margin-right: 0.3em;
	float: right;
}
#partager {
	background: transparent url(/homme_de_l_annee_liege/images/elements/icons/bookmark.gif) no-repeat center left;
}
#imprimer {
	background: transparent url('/images/SPV3/ico_imprimer.gif') no-repeat center left;
}
#envoyer_a {
	background: transparent url('/images/SPV3/ico_envoyer_transparent.gif') no-repeat center left;
}
#commenter {
	background: transparent url(/homme_de_l_annee_liege/images/elements/icons/comment_left.gif) no-repeat center left;
}
#share {
	position: relative;
	width: 350px;
	float: right;
	padding-bottom: 20px;
}
#on_partage {
	background: transparent url(/homme_de_l_annee_liege/images/elements/top_partage.gif) no-repeat 0 0;
	display: none;
	padding: .5em .5em 1.5em .5em;
	position: absolute;
	top: 1.2em;
	left: -0.85em;
	width: 210px;
}
#on_partage ul {
	list-style: none none !important;
	padding-right: 1em;
	margin: 0;
}
#on_partage ul li {
	padding-left: 2em;
}
/* ============ VIVE IE =========== */

* html #on_partage ul li {
	_padding-left: .5em;
}
*+html #on_partage ul li {
	padding-left: .5em;
}
/* ------------------- 3.1.2.4 Social bookmarking <<<-----------*/

div#sb {
	margin:10px 0;
	clear:both;
}
div#sb h3 {
	background:none;
	text-indent:-9999px;
	position: absolute;
}
div#sb #sb-share h3 {
	background-position: right 0;
}
div#sb #sb-subscribe h3 {
	background-position: right -30px;
}
div#sb-share {
	float:left;
	margin:10px 0;
	padding:10px 0;
	width:100%;
    background: url("/images/SPV3/separator_horizontal1.gif") repeat-x scroll left top transparent;
}
div#sb ul {
	padding: 0;
	margin: 0;
}
div#sb ul li {
	display:inline;
	margin-left:5px;
}
div#sb ul li a {
	padding:3px 3px 3px 20px;
	background:no-repeat;
	background-position:2px 2px;
}
div#sb ul li a:hover {
	background-color: #E0DCA7;
	text-decoration:none;
	color: #6B6A23;
}
div#sb ul li a#sb-facebook {
	background-image: url('/images/SPV3/ico_facebook.gif');
}
div#sb ul li a#sb-twitter {
	background-image: url('/images/SPV3/ico_twitter.gif');
}
/* ------------------- 3.2 Colonne 02 droite <<<-----------*/

.col-02 {
	width: 300px;
	float: left;
}
.col-02 .box {
	width: 300px;
	padding-bottom: 20px;
	background: transparent url(../images/bg_shadow.gif) no-repeat center bottom;
}
.col-02 .box a {
	text-decoration: none;
}
.col-02 .box a:hover, .col-02 .box a:focus {
	text-decoration: underline;
}
.col-02 .box h3 {
	background: #196dab url('/images/SPV3/bg_title_blue2.gif') no-repeat 0 0;
	font-size: 12px;
	font-weight: 400;
	padding: 3px 10px;
	color: white;
	text-align: left;
}
.col-02 .box p, .col-02 .box ul, .col-02 .box ol {
	padding: 10px;
}
.col-02 .box ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 20px;
}
.col-02 .box .besides {
	margin-left: 10px;
	color: #4e9ebf;
	text-decoration: underline;
	text-align:left;
}
.col-02 .box .besides:hover, .col-02 .box .besides:focus {
	text-decoration: none;
}
.col-02 #supporter {
	padding-bottom: 0;
}
.col-02 #supporter .inner {
	border: 2px solid #4E9EBF;
	border-top: none;
	background: white;
	padding-top: 1px;
	padding-bottom: 5px;
}
.col-02 #supporter .inner .cv {
	margin: 10px;
	background: #EFF8FB;
	padding: 10px;
	display:block;
	height:73px;
}
.col-02 #supporter .inner .cv h4 {
	color: #676767;
	font-size: 1.3em;
}
.col-02 #supporter .inner .cv img {
	margin-right: 10px;
	float: left;
}
.col-02 #supporter .inner .cv p {
	font-size: .85em;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	padding-left: 93px;
	color: #666;
}
.col-02 #supporter .inner .overflow {
	margin-top:5px;
	height: 190px;
	margin-bottom: 5px;
}
.col-02 #supporter .inner .overflow ul {
	list-style: none none;
	margin: 0;
	padding: 10px;
	vertical-align: top;
}
.col-02 #supporter .inner .overflow ul li {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 10px;
	vertical-align: top;
	background: transparent url(/homme_de_l_annee_liege/images/elements/talk.gif) no-repeat 99% 2%;

}
.col-02 #supporter .inner .overflow ul li img {
	float: left;
	margin-right: 10px;
}
.col-02 #supporter .overflow h4 {
	font-size: 1.3em;
	line-height: 1;
}
.col-02 #supporter .overflow small {
	line-height: 1;
}
/* ----------------------------------------------------------------------------*/
  /* ------------------- 4. Footer <<<-----------*/
/* ----------------------------------------------------------*/

#liste_logos {
	text-align: center;
}
#liste_logos li {
	display: inline-block;
	margin: 0 5px;
}
* html #liste_logos li {
	display: inline;
}
*+html #liste_logos li {
	display: inline;
}
#liste_logos {
	text-align: center;
}
#liste_logos li {
	display: inline-block;
	margin: 0 5px;
}
* html #liste_logos li {
	display: inline;
}
*+html #liste_logos li {
	display: inline;
}
.footer {
	clear: left;
	color: #5a5a5a;
	text-align: justify;
	font-size: 0.95em;
	padding-top: 15px;
}
div.footer {
    background: url('/images/SPV3/separator_horizontal2.gif') repeat-x scroll left top transparent;
}
.footer a {
	color: #0584C6;
}
.cim {
	clear: left;
	padding-top: 10px;
	text-align: center;
}
.cim big {
	color: #4a4a4a;
}
.cim img {
	padding-top: .3em;
}
/* ----------------------------------------------------------------------------*/
  /* ------------------- 4. Enregistrement <<<-----------*/
/* ----------------------------------------------------------*/

.form_page {
	margin-bottom: 20px;
}

#enregistrement {
	background:transparent url(/homme_de_l_annee_liege/images/elements/btn-inscription.jpg) no-repeat scroll center center;
	display:block;
	float:right;
	height:75px;
	padding-left:50px;
	padding-top:10px;
	text-indent:-5000em;
	width:170px;
}
.col-01 .box {
	padding-bottom:10px;
	width:450px;
}
.col-01 .box .row {
	padding-left: 5px;
}
#authentification legend {
	font-size:1.3em;
	font-weight:bold;
	margin-bottom: 10px;
}
#vote p {
	font-size:1.3em;
	font-weight:bold;
	margin-bottom: 10px;
}
#authentification #submit {
	margin-top : 10px;
	margin-left: 5px;
}
div#newsletters {
	padding-top: 15px;
	padding-bottom: 15px;
}
#ok {
	color:green;
	font-weight:bold;
}
div.innerb ul li {
	width : 110px;
	float:left;
	padding:10px;
}
.col-02 .pub object, .col-02 .pub iframe {
	margin-top: 10px;
}
