/* ----------- reset_of_death.css ------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	font-size:100.1%
}
strong {
	font-weight: 900;
}
em {
	font-style: italic;
}
sup {
	font-size: small;
	vertical-align: super;
}
sub {
	font-size: small;
	vertical-align: sub;
}
abbr, acronym {
	cursor: help;
}
abbr {
	text-transform: capitalize;
}
acronym {
	text-transform: uppercase;
}
label, button, input[type=submit] {
	cursor: pointer;
}
code, pre, kbd {
	font-family: 'Courier New', Courier, monospace;
}
small {
	font-size:85%;
}
big {
	font-size:125%;
	line-height:80%;
}
blockquote, q, cite {
	font-family: 'Hoefler Text', 'Le Monde Courrier PTF', Garamond, 'Palatino Linotype', Georgia, sans-serif;
}
a img, :link img, :visited img {
	border: 0;
}

/* --------- fin de reset_of_death.css -------- */

body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	font-size:90%;
}
a {
	color:#2965cc;
	text-decoration:none;
}
p {
	color:#4D4C45;
	line-height:110%;
}
ul {
	list-style-type:none;
}

/* ------------------ Header ------------------ */

#header {
	width:100%;
}
#header .logo img{
	display:block;
	margin: 4px 10px;
}
h1#h1_taxonomy {
    background: url("../images/mobile/bg_titre_page.png") no-repeat scroll left top transparent;
    float: right;
    font-size: 100%;
    height: 25px;
    line-height: 25px;
	margin-top: -60px;
	margin-right:4px;
	margin-bottom:0;
    padding-left: 10px;
    z-index: 90;
	color:#e5e5e5;
}
#erreur404b h1#h1_taxonomy {
	margin: -65px 0 0;
}
h1#h1_taxonomy span {
    background: url("../images/mobile/bg_titre_page.png") no-repeat scroll right top transparent;
    display: block;
    height: 25px;
    line-height: 25px;
    padding-right: 10px;
}
div.menu, div#navcontainer {
	width:100%;
	background: url('../images/mobile/bg_menu2.gif') repeat-x top;
	height:30px;
	z-index:99;
	position:relative;
}
.menu li, #navcontainer li  {
	float: left;
}
div.menu a, div#navcontainer a {
	display:block;
	font-size:110%;
	padding: 5px 10px 6px;
	color: #FFF;
	border-right: 1px solid #FFF;
	background: url('../images/mobile/bg_menu.gif') no-repeat left top;
}
div.menu li.last a, div#navcontainer li.last a {
	padding: 5px 0 6px 10px;
	border-right: 0 none;
}
div.menu a.last, div#navcontainer a.last {
	border: 0 none;
}
.leaderboard {
	clear: both;
}
.leaderboard img {
	display:block;
	margin: 0 auto;
	padding: 2px 0;
}

/* ------------------ Unes ------------------ */

#liste_articles {
	width: 100%;
}
#liste_articles img {
	float:left;
}
#liste_articles li {
	clear: both;
	min-height:52px;
	background: url('../images/mobile/bg_article_une.png') repeat-x left bottom #fafafa;
	padding: 5px;
	margin-bottom:1px;
}
#liste_articles li.last {
	margin-bottom:0;
}
#liste_articles a {
	display: block;
	padding-left: 86px;
	margin-bottom:1px;
	min-height:52px;
	padding-right:20px;
	background: url('../images/mobile/arrow_article_une.png') no-repeat right center transparent;
}
.pagin {
	padding:5px;
}

/* ------------------ Régions ------------------ */

h1#h1_unebis {
	display:none;
}
#liste_regions {
	width: 100%;
}
#liste_regions li {
	/* [disabled]background: url('../images/mobile/bg_regions.gif') no-repeat left top; */
	border: 1px solid #CCC;
	width: 49%;
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	height: 31px;
	line-height: 31px;
	text-align: center;
}
#liste_regions a {
	display:block;
	height: 29px;
	line-height: 29px;
	text-align: center;
}

/* --------------- Page article ---------------- */

#article {
	width: 96%;
	padding: 0 2%;
	clear:both;
}

/* --------------- Breadcrumb --------------- */

.fil_ariane {
	margin: 1px 0;
	height:18px;
    background: url("../images/mobile/breadcrumb.png") repeat-x scroll transparent;
	padding-left:3px;
}
.fil_ariane a {
	display:block;
    background: url("../images/mobile/breadcrumb1.png") no-repeat scroll right top transparent;
	padding:1px 13px 0 6px;
	height:17px;
	color:#FFF;
	font-size:65%;
	text-transform:uppercase;
	float:left;
	z-index:99;
	position:relative;
}
.fil_ariane a.last {
    background: url("../images/mobile/breadcrumb2.png") no-repeat scroll right top transparent;
	padding:1px 10px 0 15px;
	z-index:98;
	margin-left:-9px;
}
.fil_ariane img {
	position:absolute;
	left:-2000px;
}

/* --------------- liensutiles -------------- */

.liensutiles ul {
	clear:both;
}
.liensutiles, .liensutiles li {
	float:left;
}
.liensutiles {
	border-bottom:1px solid #e4e9f5;
	background: #F2F7FF;
	width: 100%;
	height:56px;
	clear:both;
}
.liensutiles li {
	 margin: 3px 0 0 4px;
}
.liensutiles .reagir {
	background: url('../images/bg_reagir_left.png') no-repeat left top;
	height: 20px;
}
.liensutiles .reagir a {
	display:block;
	background: url('../images/bg_reagir_right.png') no-repeat right top;
	line-height:14px;
	margin-left:16px;
	padding: 2px 7px 5px 4px;
	font-size: 80%;
	color:#3B5998;
}

/* ------------------ Article ------------------ */

h1#h1_article {
	color:#000;
	font-size:130%;
	clear:both;
	padding: 5px 0;
}
#article p {
	margin: 10px 0;
	text-align:justify;
	line-height: 120%;
	font-size: 90%;
}
#article .chapeau {
	color:#333;
}
#article #picture {
    position: relative;
    width: 300px;
}
#article .pic_description {
	color:#CCC;
	width:290px;
	padding:2px 5px 3px;
	text-align:right;
	background:#333;
	margin-top:0;
}
#picture .credit {
	background: transparent url('../images/bg_noir_50pc.png');
	color: #CCC;
	position: absolute;
	top: 171px;
	right:0;
	z-index: 99;
	width: auto;
	padding: 0 4px;
	height:19px;
	line-height:19px;
}
#article .publiele {
	color:#999;
}
#picture img, #bottomVideos object, #bottomVideos img, .digital-wally_digitalobject iframe {
	display:block;
	max-width:300px;
}
#article #bottomVideos p {
	margin: 0;
}
.bottomVideos, .digital-wally_digitalobject {
	margin: 10px 0;
}

/* ------------------ Filinfo ------------------ */

#liste_articles #filinfo li {
	min-height:0;
	background: url('../images/mobile/arrow_article_filinfo.png') no-repeat right center transparent;
	margin:0;
	border-bottom: 1px dotted #999;
	padding: 5px 20px 6px 5px;
}
#liste_articles #filinfo a {
	padding: 0;
    margin: 0;
	display:inline;
    background: none;
    min-height:0;
}
#liste_articles #filinfo li.last {
	padding: 5px 20px 5px 5px;
	border-bottom: none;
}
.time {
	color:#C00;
}

/* ------------------ Footer ------------------ */

#copyright {
	clear: both;
	background-color: #333;
	color: #CCC;
	padding: 5px 0px 5px 10px;
	border-top:1px solid #FFF;
}
#copyright a {
	color: #FFF;
}
.chapeau {
	font-weight: bold;
}

/* -------------------- 404 ------------------- */

#erreur404b {
	clear:both;
	padding:5px;
}

/* ------------------ splash ------------------ */

#splash {
	position:relative;
	width:auto;
	margin:10% auto;
	width:630px;
}
#splash #header {
	display: block;
	height: 61px;
	overflow:hidden;
}
#splash #content {
	width:630px;
	text-align:left;
}
#splash #footer {
	border:0;
	display:block;
	clear:both;
	width: 630px;
	height: 51px;
	padding-top: 10px;
	background-image: url('../images/splash-footer.png');
}
#splash #footer p {
	text-align: center;
	margin-top: 4px;
}
#splash #footer p a {
	color: #003366;
	text-decoration: none;
	line-height: 20px;
}
#splash #footer p a:hover {
	color: #003366;
	text-decoration: underline;
}
#splash #footer p a.entrance {
	background: #E20031;
	color: white;
	font-weight: 900;
	text-transform: uppercase;
	padding: 1px 5px;
}
#splash #footer p a.entrance:hover {
	background: #000;
	color: white;
	text-decoration: none;
}
