/* Digest

------------------------------

1. Météo, Carburant, Trafic
	1.1 menu colonne 3
	1.2 page carburant
		1.2.1 prix
		1.2.2 recherche
		1.2.3 villes
		1.2.4 tableaux
	1.3 pages meteo
		1.3.1 Le temps en Belgique
		1.3.2 Le temps à 8 jours
		1.3.3 Météo internationale
		1.3.4 recherche
		1.3.5 Prévisions
		1.3.6 Satellite
		1.3.7 colonne 3
	1.4 pages trafic
	
2. Pages flux RSS

3. Scoop - Nous envoyer une info + Inscription aux newsletters

4. Commander un ancien numéro + page copyright + aide 

5. Recherche

6. Blogs

7. Agenda

8. Voyages
		
---------------------------- */

@charset "utf-8";

/* -----------------------------------------------------------------------------------*/
/* -------------------------- 1. Météo, Carburant, Trafic --------------------------- */
/* -----------------------------------------------------------------------------------*/

.pages_service * {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.pages_service #head_service {
	line-height: 50px;
	height: 50px;
	width: 960px;
}
.pages_service h1 {
	font-size: 18px;
	line-height: 50px;
	height: 50px;
	color: #4a4a4a;
	padding-left: 20px;
}
.pages_service h1 a, .pages_service .col-03 .menu a, .pages_service h1 a:visited, .pages_service .col-03 .menu a:visited {
	color: #003366 !important;
}
.pages_service .title_services {
	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	line-height: 20px;
	height: 20px;
	margin: 18px 177px 0 0;
	display: inline;
}
.pages_service h2, .pages_service h2 span, .submenu.trafic li, .submenu.trafic li span {
	line-height: 38px;
	height: 38px;
}
.pages_service h2, .pages_service .col-03 li {
	padding: 0 0 0 33px;
	font-size: 18px;
	color: #999999;
	font-weight:normal;
}
.pages_service h2 span, .pages_service .col-03 span, .pages_service .submenu.trafic li span {
	display: block;
	padding-left: 8px;
}
.pages_service h2 span, .submenu.trafic li span{
	background: url('../images/services/bgtitle_service_shadow.gif') no-repeat right;
}
.pages_service .carburant td.grisf5f5e1 {
	background-color: #f5f5e1;
	border-bottom: 1px solid #FFF;
	text-align: left;
}
.pages_service .right {
	float: right;
}
.w650-300.pages_service .col-01 {
	width:660px;
}
.w650-300.pages_service .col-01 .carburant {
	margin-right:20px;
}

/* ------------------------------ 1.1 menu colonne 3 ---------------------------------*/

.pages_service .col-03 {
	padding-top: 20px;
	width: 300px;
}
.pages_service .col-03 .menu ul {
	padding: 0;
	margin: 0;
}
.pages_service .col-03 .menu li {
	line-height: 36px;
	height: 36px;
	margin-bottom: 10px;
}
.pages_service .col-03 .menu li span {
	background: url('../images/services/bgtitle_service_noshadow.gif') no-repeat right;
	line-height: 36px;
	height: 36px;
}
.pages_service .col-03 .menu li.trafic {
	background: url('../images/services/ico_trafic_info2.gif') no-repeat;
}
.pages_service .col-03 .menu li.meteo {
	background: url('../images/services/ico_meteo_info2.gif') no-repeat;
}
.pages_service .col-03 .menu li.carburant {
	background: url('../images/services/ico_carburant_station2.gif') no-repeat;
}
.pages_service .source {
	padding: 10px;
}

/* ------------------------------ 1.2 page carburant -------------------------------- */

.pages_service .head_carburant.head_service {
	background: url('../images/services/banner_carburant.jpg') no-repeat center top;
}
.pages_service thead th {
    border-bottom: 0 none;
    padding-right: 0;
}
.pages_service .carburant.prix, .pages_service .carburant.recherche {
	padding: 20px 10px 0;
}

/* ---------------------------------- 1.2.1 prix ------------------------------------ */

.pages_service .carburant.prix {
	width:330px;
}
.pages_service .carburant.prix h2 {
	background: url('../images/services/ico_carburant_prix1.gif') no-repeat;
}
.pages_service .carburant.prix th.grisb3b3b3 {
	width: 120px;
}
.pages_service .carburant.prix td.grisf5f5e1 {
	padding: 0 10px;
	width: 162px;
}

/* ------------------------------- 1.2.2 recherche ----------------------------------- */

.pages_service .carburant.recherche {
	width: 240px;
}
.pages_service .carburant.recherche h2 {
	background: url('../images/services/ico_carburant_recherche1.gif') no-repeat;
}
.pages_service .carburant.recherche .formulaire {
	margin: 5px 0 0 15px;
}
.pages_service .carburant.recherche form {
	margin: 0px;
	padding: 0px;
}
.pages_service .recherche .row  {
	padding-top: 10px;
}

/* ---------------------------------- 1.2.3 villes ------------------------------------ */

.pages_service .carburant.villes {
	clear: left;
	padding: 30px 20px 30px 10px;
}
.pages_service .carburant.villes h2 {
	background: url('../images/services/ico_carburant_station1.gif') no-repeat;
}
.pages_service .carburant.villes th.grisb3b3b3 {
	width: 111px;
}
.pages_service .carburant.villes td.grisf5f5e1 {
	padding: 0 10px;
	width: 135px;
}

/* --------------------------------- 1.2.4 tableaux ------------------------------------ */

.pages_service .carburant table {
	margin: 13px 0 0 14px;
}
.pages_service .carburant #prix table {
	width: 302px;
}
.pages_service .carburant th {
	margin: 0;
	padding: 0;
}
.pages_service .carburant td {
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.pages_service .carburant.prix img {
	vertical-align: text-top;
	margin-top: 2px;
	margin-left: 5px;
}
.pages_service .carburant th.th1 {
	color: #999;
	text-align: left;
	padding: 0 10px;
}
.pages_service th.grisb3b3b3 {
	color: #FFF;
	background-color: #b3b3b3;
	font-weight:bold;
	text-align:center;
}

/* --------------------------------- 1.3 pages meteo ------------------------------------ */

.pages_service #head_service {
	background: url('../images/services/banner_meteo.jpg') no-repeat center top;
}
#meteo .pages_service .col-01 {
	width: 429px;
	padding:20px 20px 0 10px;
}
#meteo .pages_service .col-02 {
	width: 181px;
	padding:20px 20px 0 0;
}

/* ---------------------------- 1.3.1 Le temps en Belgique ------------------------------- */

.pages_service #letemps h2 {
	background: url('../images/services/ico_meteo_info1.gif') no-repeat;
}
.pages_service .date, .pages_service .ephemerides, .pages_service .resultats {
	margin: 10px 14px 0px 14px;
}
.pages_service .date {
	padding-bottom: 5px;
	background: url('../images/services/separator_horizontal1.gif') repeat-x bottom;
}
.pages_service .ephemerides ul {
	padding-bottom: 10px;
}
.pages_service .ephemerides .prochains {
	height: 23px;
	padding-top: 15px;
	clear: both;
	background: url('../images/services/separator_horizontal1.gif') repeat-x  0px 9px;
}
.pages_service .ephemerides .prochains a {
	background: url('../images/services/ico_arrow_transparent.gif') no-repeat 0 6px;
	display: block;
	padding-left: 8px;
}
.pages_service h3 {
	font-size: 1em;
}
.pages_service .ephemerides li {
	width: 120px;
	background: url('../images/services/separator_vertical4.gif') repeat-y left;
	padding: 0px 10px;
}
.pages_service .ephemerides li.first {
	padding-left: 0px;
	background-image: none;
}
.pages_service .ephemerides li.last {
	padding-right: 0px;
}
.pages_service .carte {
	clear: both;
	position: relative;
	background: url('../images/services/separator_horizontal_cartemeteo.gif') no-repeat center top;
	padding-top:25px;
}
.pages_service .rose_vents {
	position: absolute;
	top: 10px;
	left: 14px;
}

/* ----------------------------- 1.3.2 Le temps à 8 jours -------------------------------- */

.pages_service .ephemerides.huitjours ul, .pages_service .ephemerides.huitjours li {
	height: 135px;
	display:block;
	text-align: center;
}
.pages_service .ephemerides.huitjours ul {
	background: url('../images/services/separator_horizontal1.gif') repeat-x bottom;
}
.pages_service .ephemerides.huitjours  {
	padding-bottom: 0;
	clear:both;
}
.pages_service strong {
	color: #666;
}

/* ---------------------------- 1.3.3 Météo internationale ------------------------------- */

.pages_service #internationale, .pages_service #previsions, .pages_service #satellite {
	padding-top: 20px;
}
.pages_service #internationale h2 {
	background: url('../images/services/ico_meteo_international1.gif') no-repeat;
}
.pages_service #internationale .recherche {
	margin: 15px 14px 15px 14px;
}
.pages_service .recherche form {
	margin-right: 10px;
}
.pages_service #internationale form fieldset legend {
	display: none;
}
.pages_service #internationale #villes {
	clear: both;
	margin: 0px 14px;
	padding-bottom: 40px;
}
.pages_service #internationale #villes ul {
	padding-bottom: 10px;
}
.pages_service #internationale #villes h3 {
	padding-left: 23px;
	width:167px;
	background-color:#F5F5E1;
}
.pages_service #internationale #villes li {
	border-top: 1px solid #F5F5E1;
	line-height: 20px;
	width: 190px;
}
.pages_service #internationale #villes li img {
	vertical-align: bottom;
}

/* ---------------------------------- 1.3.4 recherche ------------------------------------ */

.pages_service #recherche h2 {
	background: url('../images/services/ico_meteo_recherche1.gif') no-repeat;
}
.pages_service #recherche .formulaire {
	padding: 0px 14px;
}
.pages_service #recherche label {
	color:#666666;
	font-weight:normal;
}
html.js .pages_service .col-02 input.form-autocomplete {
	margin: 5px 0;
	width:150px;
}
.pages_service #edit-ville-wrapper {
	padding-top:10px;
}
.pages_service #listelocalites {
    background: url("../images/services/separator_horizontal1.gif") repeat-x scroll center bottom transparent;
    margin: 0 13px 10px 14px;
    width: 400px;
	padding-bottom:10px;
}
.pages_service #listelocalites ul {
    border: 1px dotted #E53517;
    padding: 5px 5px 6px 8px ;
}
.pages_service #listelocalites h3 {
	padding: 2px 0 3px 0px;
	font-weight:normal;
}
.pages_service #listelocalites h3 span {
	font-weight:bold;
	color:#000;
	font-size:13px;
}

/* ---------------------------------- 1.3.5 Prévisions ------------------------------------ */

.pages_service #previsions h2 {
	background: url('../images/services/ico_meteo_previsions1.gif') no-repeat;
}
.pages_service #previsions div {
	padding: 10px 14px 0px 14px;
	text-align: justify;
	line-height: normal;
}

/* ---------------------------------- 1.3.6 Satellite -------------------------------------- */

.pages_service #satellite h2 {
	background: url('../images/services/ico_meteo_satellite1.gif') no-repeat;
}
.pages_service #satellite img {
	margin-top: 14px;
	margin-left: 14px;
}

/* ---------------------------------- 1.3.7 colonne 3 -------------------------------------- */

.pages_service .col-03 h2, .pages_service .col-03 h2 span {
	line-height: 30px;
	height: 30px;
}
.pages_service .col-03 h2 {
	padding: 0 0 0 26px;
	font-size: 15px;
	color: #999999;
	font-weight:normal;
}
.pages_service .col-03 h2 span {
	background: url('../images/services/bgtitle_service_shadow2.gif') no-repeat right;
}
.pages_service #soleil, .pages_service #lune, .pages_service #alertes, .pages_service #dicton, .pages_service #marees {
	width: 140px;
}
.pages_service #lune, .pages_service #alertes, .pages_service #marees {
	padding-top: 20px;
}
.pages_service #soleil, .pages_service #dicton {
	padding-top: 10px;
}
.pages_service #dicton {
	text-align:justify;
}
.pages_service #soleil h2 {
	background: url('../images/services/ico_meteo_soleil1.gif') no-repeat;
}
.pages_service #lune h2 {
	background: url('../images/services/ico_meteo_lune1.gif') no-repeat;
}
.pages_service #alertes h2 {
	background: url('../images/services/ico_meteo_alertes1.gif') no-repeat;
}
.pages_service #dicton h2 {
	background: url('../images/services/ico_meteo_dicton1.gif') no-repeat;
}
.pages_service #marees h2 {
	background: url('../images/services/ico_meteo_marees1.gif') no-repeat;
}
.pages_service #soleil table, .pages_service #lune table, .pages_service #alertes table, .pages_service #dicton div {
	width: 112px;
	margin-top: 10px;
	margin-left: 14px;
}
.pages_service #marees table {
	width: 116px;
	margin-top: 10px;
	margin-left: 14px;
}
.pages_service #marees th.th1 {
	font-weight:normal;
	color:#CCC;
}
.pages_service thead th {
    border-bottom: 0 none;
    padding-right: 0;
}
.pages_service #soleil td, .pages_service #lune td, .pages_service #alertes td {
	padding-left: 5px;
}
.pages_service #marees td {
	padding: 0 3px;
}
.pages_service #lune td.alignright {
	/* [disabled]text-align: right; */
}
.pages_service .colright {
	width: 140px;
	padding-left: 20px;
}

/* ---------------------------------- 1.4 pages trafic -------------------------------------- */

.pages_service .head_trafic {
	background: url('../images/services/banner_trafic.jpg') no-repeat center top;
}
.pages_service .submenu.trafic {
	height: 48px;
	padding:20px 0 10px;
}
.pages_service .submenu.trafic li {
	width: 110px;
	padding: 0 10px 0 43px;
	font-size: 18px;
	color: #999999;
	font-weight:normal;
	float:left;
}
.pages_service .submenu.trafic li.carte {
	background: url('../images/services/ico_trafic_carte1.gif') no-repeat 10px top;
}
.pages_service .submenu.trafic li.info {
	background: url('../images/services/ico_trafic_info1.gif') no-repeat 10px top;
}
.pages_service .submenu.trafic li.previsions {
	background: url('../images/services/ico_trafic_previsions1.gif') no-repeat 10px top;
}
.pages_service .submenu.trafic li.trajets {
	background: url('../images/services/ico_trafic_trajets1.gif') no-repeat 10px top;
}
.pages_service .service.frame {
	margin-left: 18px;
}

/* -----------------------------------------------------------------------------------*/
/* ------------------------------- 2. pages flux RSS -------------------------------- */
/* -----------------------------------------------------------------------------------*/

#rss_intro h1 {
	font-size:17px;
	color:#999;
	margin-bottom:20px;
}
#rss_intro h2 {
	color:#000;
	margin:10px 0 5px;
	font-weight:normal;
	font-size:13px;
}
#all_rss {
	width:430px;
	float:right;
	margin: 20px 0 30px 20px;
}
#all_rss h2 {
	font-size:17px;
	color:#000;
	margin-bottom: 5px;
}
#liste_rss li {
	clear:both;
	border-top: 1px dotted #CCC;
	padding: 2px 0 1px;
	font-size:13px;
	font-weight:bold;
}
#liste_rss li li, #liste_rss li li li, #liste_rss li li li li {
	padding-left:30px;
	font-size:12px;
	font-weight: normal;
}
.imgRSS {
	float:right;
	margin-top:2px;
}
.lienRSS {
	float:left;
}
#agregator {
	margin-top:20px;
	width:180px;
}
#agregator h2 {
	font-size:12px;
	padding: 10px 10px 5px;
	font-weight:normal;
	background:url('../images/services/bg_agregator.gif') no-repeat left top;
	text-align:center;
}
#agregator ul {
	background:url('../images/services/bg_agregator.gif') no-repeat left bottom;
	padding: 0 10px 15px;
}
#agregator li {
	padding-top:10px;
	background:url('../images/services/bg_agregator.gif') no-repeat left center;
}

/* -----------------------------------------------------------------------------------*/
/* ---------- 3. scoop - Nous envoyer une info + Inscription aux newsletters -------- */
/* -----------------------------------------------------------------------------------*/

#inscription_newsletters .choix-newsletter #spnewsletter-form  fieldset {
	padding-bottom:10px;
}

#scoop, #inscription_newsletters {
	margin-bottom:40px;
}
#scoop h1, #inscription_newsletters h1 {
    color: #999999;
    font-size: 19px;
    margin-bottom: 15px;
}
#scoop .scoop_form, #inscription_newsletters .choix-newsletter {
    border: 1px dotted #CCCCCC;
    margin: 10px 0;
    padding: 20px;
}
#inscription_newsletters #edit-info-sudpresse-wrapper {
    border-top: 1px dotted #CCCCCC;
    margin: 10px 0 0;
    padding-top: 5px;
}
#scoop li label, #inscription_newsletters label {
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 180px;
}
#inscription_newsletters fieldset label {
    float: none;
    font-weight: normal;
    margin: 0;
    text-align: left;
    width: auto;
}
#inscription_newsletters fieldset .form-item {
    margin: 0;
}
#scoop .scoop_form  li .description {
    color: #999;
    margin: 0 0 0 190px;
	font-size:12px;
}
#scoop .scoop_form li textarea, .resizable-textarea .grippie {
    font-family: arial,'trebuchet MS',FreeSans,sans-serif;
    font-size: 1em;
    margin-left: 10px;
	clear:both;	
}
.submitEnvoyer #edit-submit, #inscription_newsletters #edit-submit {
    background: url("../images/bg_conc_participez.gif") no-repeat scroll left top transparent;
    border: 0 none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 21px;
    margin-left: 186px;
    padding-bottom: 11px;
    text-align: center;
    text-decoration: none;
    width: 102px;
}

/* -----------------------------------------------------------------------------------*/
/* ---------------- 4. Commander un ancien numéro + page copyright + aide ----------- */
/* -----------------------------------------------------------------------------------*/

#ancien_numero, #copyright_text, #aide {
	margin-bottom:40px;
}
#copyright_text {
	text-align:justify;
}
#ancien_numero h1, #copyright_text h1, #aide h1 {
    color: #999999;
    font-size: 19px;
    margin-bottom: 15px;
}
#ancien_numero h2, #copyright_text h2, #aide h2 {
    color: #000;
    margin: 10px 0;
}
#ancien_numero h2, #aide h2 {
    font-size: 13px;
}
#copyright_text h2 {
    font-size: 17px;
}
#copyright_text h3 {
    margin: 10px 0;
}
#ancien_numero .numero {
    color: #000;
    font-size: 17px;
	font-weight:bold;
}
#ancien_numero kbd {
	padding: 1px 3px;
	background: #E20031;
	border: .0625em solid black;
	color: white;
	font-weight: 900;
	font-size: 13px;
}
p.sms {
	text-align: center;
	color: black;
	font-weight: bold;
	margin: 10px 0;
	border:1px dashed #b3b3b3;
	padding: 5px 0;
}
#ancien_numero ol.procedure, #copyright_text ol {
	list-style:decimal;
	margin: 0 0 20px 20px;
}
#ancien_numero ul, #aide ul {
	list-style:circle;
	margin-left:20px;
}
#copyright_text ul {
	list-style:circle;
	margin-left:40px;
}
#ancien_numero li, #copyright_text li, #aide li {
	margin: 5px 0;
}
#copyright_text p {
	margin-left:20px;
}
.w160-480-300 .col-01 {
	width: 160px;
	margin:0;
}
.w160-480-300 .col-02 {
	width: 480px;
	margin: 0 10px 0px 10px;
}
.w160-480-300 .col-03 {
	width: 300px;
	margin:0;
}

/* -----------------------------------------------------------------------------------*/
/* ---------------------------------- 5. Recherche ---------------------------------- */
/* -----------------------------------------------------------------------------------*/

.w160-480-300 .col-01 {
	width:160px;
}
.w160-480-300 .col-02 {
	width:480px;
	margin: 0 10px;
}
.w160-480-300 .col-03 {
	width:300px;
}

/* ----------------------- colonne 1 -------------------- */

.col-01 .search.title_fitre h2 {
	width:154px;
	font-size: 1em;
	background: #f0f0f0 url('../images/bg_titre_filtre.gif') repeat-x;
	color: #FFF;
	font-weight: normal;
	padding: 4px 0 4px 6px;
}
.col-01 .search li {
	background: url('../images/add_off-trans.png') no-repeat 6px 8px;
	border: 1px solid #e5e5e5;
	margin-top: -1px;
	padding: 6px 5px 6px 17px;
}
.col-01 .search a, .col-01 .search li {
	font-size: 0.95em;
	line-height:1em;
	background-color: #fafaeb;
	cursor:pointer;
}
.col-01 .search  li:hover {
	background: url('../images/add_on-trans.png') no-repeat 6px 8px;
}
.w160-480-300 .col-01 .bloc-01 {
	background: transparent url('../images/bg_shadow1.gif') no-repeat center bottom;
	padding-bottom:10px;
}
.w160-480-300 .col-01 .search ul {
	background: transparent url('../images/bg_shadow1.gif') no-repeat center bottom;
	padding-bottom:8px;
	margin-bottom:2px;
}
.col-01 .search .appliques li {
	background: url('../images/add_active-trans.png') no-repeat 6px 8px;
}
.col-01 .search  .appliques li:hover {
	background: #fafaeb url('../images/add_on-active-trans.png') no-repeat 6px 8px;
}
.col-01 .search .appliques h2 {
	width:142px;
	background: none;
	color: #4D4C45;
	border: 1px solid #999;
	margin-bottom:1px;
	padding: 3px 0 3px 6px;
}

/* ----------------------- colonne 2 -------------------- */

.col-02 .search {
	padding: 10px 0;
	width:100%;
}
.col-02 .search.title_fitre {
	display:none;
}
.col-02 .pane-apachesolr-gresult {
	clear:both;
	padding-top:10px;
}
.col-02 .pane-apachesolr-gresult .search {
    padding:0;
}

/* votre_recherche + votre_tri */

.votre_recherche, .votre_tri {
	padding: 0 4px;
	float:left;
	width:460px;
	line-height: 20px;
}
.votre_recherche h2, .votre_tri h2 {
	float:left;
	font-size:13px;
	font-weight:normal;
}

/* votre_tri */

.votre_tri li {
	border: 1px solid #E5E5E5;
	margin-right:5px;
	float:left;
	padding: 0 5px;
	background:#FAFAEB;
}
.votre_tri li.desc, .votre_tri li.asc, .votre_tri li.ascFleche, .votre_tri li.descFleche {
	padding: 0 5px 0 22px ;
}
.votre_tri li.ascFleche {
	background: url('../images/arrows_asc.png') no-repeat 5px 7px #FAFAEB;
}
.votre_tri li.descFleche {
	background: url('../images/arrows_desc.png') no-repeat 5px 7px #FAFAEB;
}
.votre_tri li.desc {
	background: url('../images/arrows_desc.png') no-repeat 5px 7px #FAFAEB;
}
.votre_tri li.asc {
	background: url('../images/arrows_asc.png') no-repeat 5px 7px #FAFAEB;
}
.votre_tri li.desc.current {
	background: url('../images/arrows_descfleche.png') no-repeat 5px 7px #CCC;
}
.votre_tri li.asc.current {
	background: url('../images/arrows_ascfleche.png') no-repeat 5px 7px #CCC;
}
.votre_tri li.current {
	background:#CCC;
	border: 1px solid #CCC;
}
.votre_tri li.current a {
	color:#333;
}
.votre_tri a {
	color: #003366;
}

/* votre_recherche */

.votre_recherche {
	clear:both;
	margin-top:10px;
}
.votre_recherche li {
	float:left;
	margin: 0 10px 0 0;
}
.votre_recherche a {
	padding-left: 11px;
	color: #003366;
	background: url('../images/add_active-trans.png') no-repeat 0 7px;
	line-height:20px;
	display:block;
}
.votre_recherche a:hover {
	background: url('../images/add_on-active-trans.png') no-repeat 0 7px;
}

/* n articles trouvés */

.search #nbeleme {
	color:#000;
	border-bottom: 1px dotted #000;
	padding: 0 0 8px 4px;
}

/* ----------------------- article -------------------- */

.search .article {
	float:left;
	clear: both;
	width: 100%;
	border-bottom: 1px dotted #999;
}
.col-02 .search .article h2 {
	clear: both;
	font-size: 1.25em;
	padding: 0 0 5px;
}
.search .time {
	float:none;
	font-size: 1em;
	color: #C00;
}
.col-02 .search strong {
	background-color: #ffff80;
	font-weight:normal;
	padding: 0 2px;
}

/* ----------------------- Photo & video -------------------- */

.search_galerie {
    clear: both;
    float: left;
}
.search_galerie .galerie_photo, .search_galerie .galerie_video {
    float: left;
	padding: 10px 0 5px 5px;
	width:475px;
	border-bottom: 1px dotted #999;
}
.search_galerie .galerie_photo img, .search_galerie .galerie_video img {
	float:left;
	padding: 0 5px 5px 0;
}
.search_galerie .galerie_video a {
	float:left;
	position: relative;
}
.search_galerie .galerie_video span {
	background: url('../images/ico_player.png') no-repeat 0 0;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	width:90px;
	height:66px;
	display:block;
	float:left;
}
.search_galerie .plusdesearch {
    clear: both;
    margin: 5px 5px 0 0;
    text-align: right;
}
.search_galerie .galerie_photo.result, .search_galerie .galerie_video.result {
    padding: 10px 0 5px;
    width: 480px;
	border-bottom:none 0;
}
.search_galerie .galerie_photo.result img, .search_galerie .galerie_video.result img {
    padding: 0 5px 10px;
}
.search_galerie .galerie_video.result span {
    background: url("../images/ico_player_gd.png") no-repeat scroll 0 0 transparent;
    height: 110px;
    left: 5px;
    width: 150px;
}
/* ---------------------------- Pager ------------------------ */

.item-list  ul.pager {
    padding: 10px 0;
	position:relative;
}
.item-list ul.pager li {
    margin: 0;
	padding: 0 5px;
}
.item-list ul.pager li a {
	color:#036;
}
.pager .pager-current {
	color:#000;
}
.item-list ul.pager li.pager-first, .item-list ul.pager li.pager-previous, .item-list ul.pager li.pager-next, .item-list ul.pager li.pager-last {
	position:absolute;
	padding:0;
}
.item-list ul.pager li.pager-first {
	left:0;
}
.item-list ul.pager li.pager-previous {
	left:40px;
}
.item-list ul.pager li.pager-next {
	left:410px;
}
.item-list ul.pager li.pager-last {
	left:450px;
}

/* ----------------------- colonne 3 -------------------- */

.w160-480-300 .col-03 .bloc-01 {
	padding-bottom: 10px;
	background: transparent url('../images/bg_shadow2.gif') no-repeat center bottom;
}


/* -----------------------------------------------------------------------------------*/
/* ------------------------------------- 6. Blogs ----------------------------------- */
/* -----------------------------------------------------------------------------------*/

#blogs {
	margin-bottom: 20px;
	float: left;
	width:960px;
}
#blogs p.intro {
	padding-bottom: 10px;
	text-align: center;
	font-size:13px;
}
#blogs p a {
	background: none;
	padding-right: 0;
	font-weight: bold;
}
#blogs h1 {
	text-indent:-9999px;
	display:none;
}
#blogs h2 {
	color:#000;
    background: #196DAB url("../images/bg_title_blue3.gif") 0 0 no-repeat;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 10px;
	margin-left:10px;
}
#blogs #blogs_thematiques h2 {
	width:280px;
	margin-bottom:10px;
}
#blogs ul {
	float: left;
}
#blogs li {
	float: left;
	position:relative;
	width: 300px;
	height:46px;
	margin: 0 0 10px 10px;
}
#blogs li img {
	display:inline;
}
#blogs_regionaux {
	width: 620px;
	float: left;
	background:url("../images/separator_vertical1.gif") repeat-y right top;
	margin-right: 4px;
	padding-right:16px;
}
#blogs_thematiques {
	width: 294px;
	float: left;
}
#blogs h3.first  {
	background:none;
	padding-top:0;
}
#blogs h3  {
	width:auto;
	clear: both;
	float: none;
	margin: 0 0 10px 10px;
	height: auto;
	padding-top:10px;
	text-align: center;
}
#blogs h4 {
	clear: both;
	margin-left: 10px;
	font-size: 13px;
	color: #000;
	padding-bottom: 10px;
	text-align: center;
	height:22px;
	line-height:20px;
	background: url('../images/blogs/images/bg_blogs_h4.gif') no-repeat center top;
}
#blogs li a span {
	font-size: 13px;
	color: #FFF !important;
	background: url('../images/blogs/images/bg_titre_blog.png') no-repeat 0 0;
	position:absolute;
	top:27px;
	height:19px;
	line-height:19px;
	padding: 0 5px;
	left:0;
	z-index:100;
	width:300px;
}

/* -----------------------------------------------------------------------------------*/
/* ------------------------------------ 7. Agenda ----------------------------------- */
/* -----------------------------------------------------------------------------------*/

.trois_col {
	font-size: 12px;
	float: left;
	width: 300px;
	margin: 0 10px;
}
h3.list_detail a, h3.list_billeterie a {
	color: white;
}
h3.list_detail a.puce_retour, h3.list_detail a.puce_retour:visited {
	font-size:11px;
	color:#FFF !important;
	font-weight:400;
	text-decoration:none;
	padding-left:24px;
	background-image: url('../images/ico_arrow_white_transparent.gif');
	background-repeat: no-repeat;
	background-position: 15px 5px;
}
h3.list_detail a.puce_retour:hover {
	text-decoration:underline;
}
.trois_col .list_agenda, .deux_col .list_detail, .list_billeterie, .list_top {
	font-size: 13px;
	padding: 3px 0 3px 10px;
	font-weight: 900;
	line-height: 17px;
	text-align: left;
	display: block;
	float: left;
	color:#FFF;
}
.trois_col .list_agenda, .list_billeterie, .list_top {
	width: 290px;
}
#trois_col_content .deux_col .list_detail, .trois_col .list_agenda {
	background: #CD0044 url('../images/bg_title_pink.gif') no-repeat scroll left top;
}
#trois_col_content .deux_col .list_detail {
	width: 620px;
}
.trois_col .list_agenda {
	background: #CD0044 url('../images/bg_title_pink.gif') no-repeat scroll left top;
}
.deux_col .list_detail, .list_billeterie, .list_top {
	background: #196DAB url('../images/bg_title_blue2.gif') no-repeat scroll left top;
	margin: 10px 0 5px;
	clear: left;
}
.trois_col .list_agenda a:link, .trois_col .list_agenda a:visited, .list_billeterie a:link, .list_billeterie a:visited {
	background: transparent url('../images/ico_arrow_white_transparent.gif') no-repeat scroll left 6px;
	padding-left: 8px;
	font-weight: 900;
	text-decoration: none;
	color:#FFF !important;
}
.trois_col .list_agenda a:active, .trois_col .list_agenda a:hover, .list_billeterie a:active, .list_billeterie a:hover {
	font-weight: 900;
	text-decoration: underline;
}
.trois_col .bordure_list {
	float: left;
	width: 300px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.trois_col input {
	margin: 5px 0;
	padding:1px 2px;
}
.trois_col .txt_gauche {
	padding: 5px 0;
	border-bottom: 1px dashed #ccc;
	line-height: 1.4em;
	float: left;
	clear: left;
	width: 300px;
}
.trois_col input {
	margin: 5px 0;
}
.trois_col .txt_gauche img {
	float: left;
	margin-right: .3em;
}
.trois_col .text_agend a {
	text-decoration:none;
	line-height: 1.4em;
}
.trois_col .text_agend a:hover {
	text-decoration: underline;
}
ul.bordure_list_mad {
	font-size: .750em;
	line-height: 1.5em;
}
ul.bordure_list_mad li {
	clear: left;
	float: left;
	padding-bottom: .625em;
	border-bottom: 1px dashed #ccc;
	margin-bottom: .625em;
	width: 100%;
}
ul.bordure_list_mad li img {
	float: left;
	margin-right: .625em;
}
ul.bordure_list_mad li .txt_lieux {
	display: block;
}
ul.bordure_list_mad li .date {
	color: #808080;
	padding-left: 10px;
}
.deux_col {
	width:630px;
	float:left;
	padding-left:10px;
}
.deux_col .fond_rech_mad {
	padding: 5px 10px;
	background: #ECF2FF;
	font-size: .75em;
	margin-top:10px;
}
.deux_col .fond_rech_mad img {
	position: relative;
	bottom: -0.625em;
}
.deux_col .fond_rech_mad p {
	position: relative;
	bottom: .625em;
	color: white;
	font-weight: 900;
}
.bordure_list_top {
	line-height: 17px;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------------ 8. Voyages ---------------------------------- */
/* ---------------------------------------------------------------------------------- */

#liberty_form {
	margin: 1em 0;
	background: #9dceea url('../mediastore/liberty.gif') no-repeat bottom right;
	padding: .5em 0 .1em 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#liberty_form form .over {
	background: #C9F2FE;
}
#liberty_form form .row label {
	color:#000;
    display: block;
    float: left;
    font-weight: normal;
    line-height: 25px;
    margin-right: 10px;
    text-align: right;
    width: 130px;
}
#liberty_form form .row {
	float: left;
	clear: left;
	padding:3px 10px;
	width:610px;
}
#liberty_form .form-item {
	margin:0;
}
#liberty_form form .row input, #liberty_form form .row select {
	width: 195px;
}
#liberty_form form .row textarea {
	border: 1px solid #666;
	padding: .2em .2em .2em 1.5em;
	height: 8em;
	width: 16em;
	font-family: arial, sans-serif;
	font-size: 1.2em;
	background: #C9F2FE url(../mediastore/elements/icons/comment_left.gif) no-repeat 5px 5px;
}
#liberty_form form .over input, #liberty_form form .over textarea, #liberty_form form .over select {
	background-color: white !important;
	border: 1px solid #eee;
}
#liberty_form input {
	clear: left;
	margin:5px 0 10px 148px;
}
#liberty_form form input#liberty_submit:hover {
	background: #9D805A;
}
#liberty_form .wrap-result {
  float: left;
  clear: left;
  border-bottom:1px dotted #CCCCCC;
  padding-bottom: .7em;
  margin-top: .8em;
  width: 100%;
}
#liberty_form .wrap-result .img-result {
  float: left;
  padding-right: 10px;
  width: 111px;
}
#liberty_form .wrap-result .desc-result {
  float: left;
  padding-right: 10px;
  width: 170px;
}
#liberty_form .wrap-result .result {
  float: left;
  width: 329px;
}
#liberty_form .wrap-result .result p {
  font-size: 1em;
  margin: 0;
}
.story.couleur_01 {
    border-top: 1px dotted #CCCCCC;
    float: left;
    margin: 10px 0;
    width: 100%;
}
.story.couleur_01 h2 {
    color: #999999;
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin-right: 5px;
    padding-top: 5px;
}
.story.couleur_01 h3 {
    clear: both;
    color: #000;
    font-size: 18px;
}
