
/* -------------------- Header + top -----------------------*/ 

html #special-nav li.sf-breadcrumb {
    background: url('../mediastore/sudxpress/bg_menu_sudxpress1.png') repeat-x scroll center top transparent;
}
html #special-nav li.second {
    background: url('../mediastore/sudxpress/bg_menu_sudxpress2.png') no-repeat scroll left top transparent;
    padding-left: 105px;
}
html #special-nav ul {
    background: url('../mediastore/sudxpress/bg_menu_sudxpress3.png') repeat-x scroll left top transparent;
}
html #special-nav li.sf-breadcrumb a, html #special-nav li.sf-breadcrumb a:hover {
    font-weight:normal;
}
#special-nav li.partenaire {
    background: url('http://studio.sudinfo.be/_redaction/_sudxpress/img/logo_wallonie.png') no-repeat scroll right top transparent;
	float:right;
	height:46px;
	margin-top:-16px;
	padding-top:16px;
	padding-right:71px;
	margin-right:5px;
}
#special-nav li.partenaire span {
	display:none;
}
#special-nav li.partenaire a, #special-nav li.partenaire a:hover {
    background: none;
}
.banner_sudxpress {
	padding-bottom:20px;
}
.banner_sudxpress img {
	display:block;
}

/* -------------------- Content + footer -----------------------*/ 

.sudxpress .separator {
	height:22px;
	background: url('../images/separator_horizontal5.gif') repeat-x scroll center top transparent;
	width:100%
}
.sudxpress .article2.gd2 {
    padding-top: 0;
}
.sudxpress .w300-480-160 .top-content {
    margin-bottom: 0;
}
.sudxpress .first-content .col-01 {
	margin:20px 10px;
}
.sudxpress .w300-480-160 .first-content .col-02, .sudxpress .first-content .col-03 {
    height: 542px;
    width: 300px;
	margin:0 10px;
	padding-top:10px;
}
.sudxpress #global .bloc-01 h2, .sudxpress #sp_rubriques h2 {
    background: url("../mediastore/sudxpress/bg_title_sudxpress.png") no-repeat scroll 0 0 #bb0000;
	padding:3px 0 3px 44px;
}
.bloc-01.candidat1, .bloc-01.candidat2, .bloc-01.candidat3, .bloc-01.candidat4 {
	padding-top:5px;
}
.sudxpress #global .bloc-01.candidat1 h2, .sudxpress #global .bloc-01.candidat2 h2, .sudxpress #global .bloc-01.candidat3 h2, .sudxpress #global .bloc-01.candidat4 h2 {
    padding: 0;
	height:60px;
	text-indent:-9999px;
}
.sudxpress #global .bloc-01.candidat1 h2 {
    background: url("http://studio.sudinfo.be/_redaction/_sudxpress/img/candidat1.jpg") no-repeat scroll 0 0 #BB0000;
}
.sudxpress #global .bloc-01.candidat2 h2 {
    background: url("http://studio.sudinfo.be/_redaction/_sudxpress/img/candidat2.jpg") no-repeat scroll 0 0 #BB0000;
}
.sudxpress #global .bloc-01.candidat3 h2 {
    background: url("http://studio.sudinfo.be/_redaction/_sudxpress/img/candidat3.jpg") no-repeat scroll 0 0 #BB0000;
}
.sudxpress #global .bloc-01.candidat4 h2 {
    background: url("http://studio.sudinfo.be/_redaction/_sudxpress/img/candidat4.jpg") no-repeat scroll 0 0 #BB0000;
}
.sudxpress .col-03 .bloc-01 {
    background: url("../images/bg_shadow2.gif") no-repeat scroll center bottom transparent;
}
.sudxpress .bloc-01.candidat1 .inner-bloc, .sudxpress .bloc-01.candidat2 .inner-bloc, .sudxpress .bloc-01.candidat3 .inner-bloc, .sudxpress .bloc-01.candidat4 .inner-bloc {
	height:180px;
}
.sudxpress .sponsors li {
	margin-bottom:10px;
}
.sudxpress .sponsors img {
	display:block;
}
