@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
}
#topmenu {
	background: url('../images/bg_topmenu.gif') repeat-x top;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	z-index:102;
}
#topmenu ul {
	margin:0;
	padding:0;
}
#topmenu li {
	background: url('../images/bg_topmenu2.gif') no-repeat left top;
	font: normal 11px/15px Arial, FreeSans, Helvetica, 'Trebuchet MS', Tahoma, verdana, sans-serif;
	margin:0;
	padding:3px 10px  0;
	list-style-type: none;
	position: relative;
	float: left;
	height:25px;
}
#topmenu li a, #topmenu li a:visited {
	font-size: 11px;
	text-decoration:none;
	color: #FFF !important;
	font-weight:normal;
}
#topmenu li a:hover {
	text-decoration:underline;
}
#topmenu ul ul {
	background:url('../images/shadow_topmenu2.png') no-repeat bottom right;
	margin:0;
	padding:4px 8px 16px 0;
	display: none;
	position: absolute;
	left: 0px;
	top: 25px;
}
#topmenu li li {
	padding: 0;
	background:none;
	height: 15px;
	text-align:left;
}
#topmenu li li a, #topmenu li li a:visited {
	color:#036 !important;
	display:block;
	margin-right: 0;
	width: 132px;
}
#topmenu li.sudinfo {
	padding:0;
}
#topmenu li.sudinfo a {
	text-indent:-9999px;
	width:83px;
	height:25px;
	padding:0;
	background:url('../images/logos/plogo_sp.png') no-repeat center center;
	display:block;
}
#topmenu li li.s_titre a {
	padding:0 0 0 10px;
	font-weight:bold;
}
#topmenu li li.edition a {
	background:none;
	padding:0 0 0 17px;
	width: 126px;
}
#topmenu li li.mobile a {
	padding:0 0 0 10px;
	width: 140px;
}
#topmenu li li.annonces a {
	padding:0 0 0 10px;
	width: 100px;
}
#topmenu li:hover ul, #topmenu li:active ul {
	display: block;
}
#topmenu .logoSP {
	padding:3px 10px  0 0;
}
#topmenu li.send_info {
	background: url('../images/bg_send_info.png') no-repeat 0px 3px;
	float: right;
	padding:3px 10px 0 26px;
	margin-right: 10px;
	line-height:18px;
}
#topmenu li.send_info a, #topmenu li.send_info a:visited {
	color:#036 !important;
}
#topmenu li.send_info a:hover {
	text-decoration:underline;
}

/* flêche vers le bas (sf-sub-indicator) */

#topmenu .with-ul {
	padding-right:17px;
}
#topmenu .sf-sub-indicator {
    background: url("../images/arrow_menu_top.png") no-repeat scroll 0 0 transparent;
    height: 7px;
    margin: 3px 10px 0;
    overflow: hidden;
    position: absolute;
    right: -10px;
    text-indent: -999em;
    top: 14px;
    width: 7px;
}
#topmenu ul a:active .sf-sub-indicator, #topmenu ul li:hover a .sf-sub-indicator {
	background-position: -7px 0;
}
