html body {
	background: white url(/sites/all/themes/wallydemo/mediastore/voo/fond_voo.gif) repeat-y center top;
}
#header #la_capitale a, 
#header #la_meuse a, 
#header #nouvelle_gazette a, 
#header #nord_eclair a, 
#header #la_province a, 
#header #sudpresse a, 
#header #sudinfo a {
	display:block;
}
#header #la_capitale a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_lc.gif) no-repeat top;
	width:285px;
	height:63px;
}
#header #la_meuse a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_lm.gif) no-repeat top;
	width:265px;
	height:63px;
}
#header #nouvelle_gazette a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_lg.gif) no-repeat top;
	width:279px;
	height:63px;
}
#header #nord_eclair a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_ne.gif) no-repeat top;
	width:283px;
	height:63px;
}
#header #la_province a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_lp.gif) no-repeat top;
	width:292px;
	height:63px;
}
#header #sudpresse a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_sp.gif) no-repeat top;
	width:286px;
	height:63px;
}
#header #sudinfo a {
	background: url(/sites/all/themes/wallydemo/mediastore/voo/voo_si.gif) no-repeat top;
	width:254px;
	height:63px;
}
#header #la_capitale img,
#header #la_meuse img,
#header #nouvelle_gazette img,
#header #nord_eclair img,
#header #la_province img,
#header #sudpresse img,
#header #sudinfo img {
	position:absolute;
	left:-9999em;
}
.col-02 .bloc-01 h2, .col-03 .bloc-01 h2, #global #rubriques h2 {
	background: #D6007F url(/sites/all/themes/wallydemo/mediastore/voo/bg_title_voo.gif) no-repeat 0 0;
	padding: 3px 10px;
}
.exergue {
	border-top: 1px solid #2074b1;
	border-bottom: 1px solid #2074b1;
	border-right: 1px solid #2074b1;
}
.col-01 .buzz {
	background: transparent url(/sites/all/themes/wallydemo/mediastore/voo/title_buzz_voo.gif) no-repeat top left;
}
.col-01 .folder {
	background: transparent url(/sites/all/themes/wallydemo/mediastore/voo/title_dossiers_voo.gif) no-repeat top left;
}
#top_header div.date {
	max-width:190px;
}
#voo-small-tvgrid {
	padding-bottom:10px;
}
html #header .services.recherche_menu {
    background: #DD197A url(/sites/all/themes/wallydemo/mediastore/voo/bg_search_voo.gif) no-repeat right top ;
 }
html #header li.recherche_menu label {
    color: #FFFFFF;
}
#navcontainer .sf-menu li.first_level.partner_disable {
	display:none;
}
body #navcontainer .sf-menu li.first_level.partner_enable {
	display:inline;
}
#navcontainer .sf-menu li.first_level.partner_enable {
	border: 0 none;
	float:right;
}
#navcontainer .sf-menu li.first_level.partner_enable a {
	color: #DD197A !important;
	font-size:12px;
	font-weight:normal;
}
#navcontainer .sf-menu li.first_level.partner_enable a {
    background: #FFF url(/sites/all/themes/wallydemo/mediastore/voo/enable.gif) no-repeat left 11px;
	padding: 10px 0 0 20px;
}
#navcontainer .sf-menu li.first_level.partner_enable a:hover {
	text-decoration:underline;
	color:#000 !important;
}
