body {
	padding-top:25px !important;
}

#wrap-toolbar * {
	margin:0;
	padding:0;
}

#wrap-toolbar img {
	border:0;
}

#wrap-toolbar {
	font: normal 12px/14px Arial, FreeSans, Helvetica, 'Trebuchet MS', Tahoma, verdana, sans-serif;
	position:fixed;
	top:0;
	width:100%;
	left:0;
	background:url('http://pdf.lesoir.be/toolbar/module/images/ombre.png') repeat-x top left;
	height:29px;
	z-index:25000;
	float:left;
}

* html #wrap-toolbar {
	background:url('http://pdf.lesoir.be/toolbar/module/images/ombre.gif') repeat-x top left;
}

#toolbar {
	width:100%;
	height:24px;
	background:#636352 url('http://pdf.lesoir.be/toolbar/module/images/toolbar_bg.gif') repeat-x top left;
	position:relative;
	float:left;
}

#toolbar #tool-right {
	float:right;
}

#tool-right  #ident-slider {
	float:left;
	height:17px;
	width:36px;
	background:url('http://pdf.lesoir.be/toolbar/module/images/slider_bg.gif') no-repeat top left;
	position:relative;
	margin:4px 12px 0 0;
}

#tool-right  #ident-slider a{
	display:block;
	height:17px;
	width:36px;
	float:left;
	text-decoration: none;
	outline:0 !important
}

#tool-right  #ident-slider a span{
	background:url("http://pdf.lesoir.be/toolbar/module/images/rond_slider.png") no-repeat scroll left top transparent;
	display:block;
	height:13px;
	left:3px;
	position:absolute;
	text-indent:-5000px;
	top:2px;
	width:13px;
}

* html #tool-right  #ident-slider a span{
	background:url("http://pdf.lesoir.be/toolbar/module/images/rond_slider.gif") no-repeat scroll left top transparent;
}


#tool-right  #ident {
	float:left;
	background:url('http://pdf.lesoir.be/toolbar/module/images/ident_blue_bg.gif') repeat-x top left;
	height:24px;
	padding:0 0 0 10px;
	border-left:1px solid #072736;
	position:relative;
}

#tool-right  #ident a{
	display:block;
	color:white;
	line-height:22px;
	text-shadow:1px 1px 1px #414133;
	height:24px;
	background:url('http://pdf.lesoir.be/toolbar/module/images/ident_blue_ico.gif') no-repeat top left;
	padding:0 15px 0 30px;
	float:left;
	text-decoration: none;
}

#tool-right  #ident a.connected{
	background:url('http://pdf.lesoir.be/toolbar/module/images/key_blue_ico.gif') no-repeat top left;
}

#tool-right  #ident a.disconnected{
	background:url('http://pdf.lesoir.be/toolbar/module/images/ident_blue_ico.gif') no-repeat top left;
}

#tool-right  #ident ul {
	-moz-border-radius: 0 0 5px 5px;
    -moz-box-shadow: 3px 2px 3px -1px rgba(200, 200, 200, 0.8);
    background-color: #636352;
    background-image: -moz-linear-gradient(center top , #0D4156 0%, #246279 100%);
    border-top: 5px solid #0D4156;
    height: auto;
    left: 0;
    padding: 4px 0 7px;
    position: absolute;
    top: 21px;
    width: 170px;
    z-index: 3000;
}

#tool-right  #ident ul li {
	background: none repeat scroll 0 0 transparent;
    float: none;
    height: auto;
    line-height: 1em;
    padding: 0;
    text-align: left;
}

#tool-right  #ident ul li a {
	background: none repeat scroll 0 0 transparent;
    float: left;
    font-size: 0.85em;
    height: auto;
    line-height: 1.4em;
    margin: 0 10px;
    padding: 1px 0;
    text-decoration: none;
    width: 85%;
	z-index:8000;
}

#tool-right  #ident ul li a:hover {
	text-decoration:underline;
}

#toolbar ul {
	height:24px;
	float:left;
}

#toolbar ul li {
	display:block;
	float:left;
	height:24px;
	background:url('http://pdf.lesoir.be/toolbar/module/images/sep_toolbar.gif') no-repeat top right;
	position:relative;
}

#toolbar ul li.last {
	background:none;
}

#toolbar ul li a {
	color:white;
	padding:0 12px;
	line-height:22px;
	display:block;
	height:24px;
	text-shadow:1px 1px 1px #414133;
	float:left;
	text-decoration: none;
}
#toolbar ul li.first a, #toolbar ul li a.rss {
	padding:0 6px;
}
#toolbar ul li a:hover {text-decoration: underline;}

#toolbar ul li a.rss {
	padding-top:4px;
	height:20px;
}

#toolbar ul li img {
	padding:0 6px;
}

#toolbar ul li.last a {
	background:url('http://pdf.lesoir.be/toolbar/module/images/fleche.gif') no-repeat right center;
	padding-right:15px;
}

#toolbar ul li ul {
	position:absolute;
	width:150px;
	left:2px;
	top:21px;
	background-color: #636352; /* old browsers */
	background-image: -moz-linear-gradient(top, #636352 0%, #2c2c2c 100%); /* firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636352), color-stop(100%,#2c2c2c)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636352', endColorstr='#2c2c2c',GradientType=0 ); /* ie */
	padding:4px 0 14px;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	box-shadow:3px 2px 3px -1px rgba(200, 200, 200, 0.8);
	-moz-box-shadow:3px 2px 3px -1px rgba(200, 200, 200, 0.8);
	-webkit-box-shadow:3px 2px 3px -1px rgba(200, 200, 200, 0.8);
	-o-box-shadow:3px 2px 3px -1px rgba(200, 200, 200, 0.8);
	border-top:5px solid #636352;
	z-index:3000;
	height:auto;
}

#toolbar ul li.last ul li{
	background:none;
	float:none;
	padding:0;
	height:auto;
	line-height:1em;
	text-align: left;
}

* html #toolbar ul li.last ul li{
	float:left;
}
	
#toolbar ul li.last ul li a{
	background:none repeat scroll 0 0 transparent;
	font-size:0.85em;
	height:auto;
	line-height:1.4em;
	margin:0 10px;
	padding:1px 0;
	float:left;
	text-decoration: none;
	width:85%
}
#toolbar ul li.last ul li a:hover {text-decoration: underline;}

#toolbar ul li.last ul li.border a {
	border-bottom:1px solid #9f9f91;
	padding-bottom:3px;
}

/* Une abo
======================================== */

#une-abo {
	position: absolute;
	top: 32px;
	display:none;
	left: 142px;
	background: #ebe6e2;
	border: 1px solid #8f8b88;
	width: 125px;
	height: 150px;
	padding:10px 0 0 0;
	color: #2a2a2a;
	text-align: center;
	/* CSS3 */
	text-shadow: 1px 1px 0 #f3f3f3;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 10px #ccc;
}

/* Newsletter
======================================== */

#encart-newsletter {
	position: absolute;
	top: -300px;
	left: 500px;
	background: #ebe6e2;
	border: 1px solid #8f8b88;
	width: 430px;
	height: 160px;
	color: #2a2a2a;
	text-align: left;
	/* CSS3 */
	text-shadow: 1px 1px 0 #f3f3f3;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 10px #ccc;
}
#encart-newsletter #mynews {
	float: left;
	width: 100%;
}

#encart-newsletter img {
	float: left;
	padding: 10px;
}
#encart-newsletter  h2 {
	font-family: 'Lucida Sans', 'Lucida Grande', Lucida, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #CE0000 !important;
	margin: 10px 0;
	clear: none;
}
#toolbar #encart-newsletter ul {padding: 10px 0;}
#toolbar #encart-newsletter ul, #encart-newsletter ul li {
	background: none !important;
	color: #CE0000;
	list-style-type: square;
	list-style-position: inside;
}
#toolbar #encart-newsletter ul li a {
	height: auto;
	text-align: left;
	display: inline;
	float: none;
	padding: 0;
	color:#2A2A2A;
	text-shadow:none;
}
#encart-newsletter a {color: #2E5D94;}
#encart-newsletter .onsubmit {
	background: #D47A22 url("http://pdf.lesoir.be/toolbar/module/images/item-03.gif") repeat-x left bottom;
	border-color: #DC9754;
	border-right: 0 none;
	border-style: solid none none;
	border-width: 2px 0 0;
	color: white;
	cursor: pointer;
	display: block;
	float: left;
	width: 100px;
	font-family: Tahoma,sans-serif;
	font-size: 1em;
	font-weight: 900;
	padding: 2px 10px;
	text-decoration: none;
	text-shadow: 1px 1px #5D3915;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#encart-newsletter #monmail {
	background: white url('http://pdf.lesoir.be/toolbar/module/images/mail.gif') no-repeat 8px 5px;
	border: 0;
	margin-top: 10px;
	width: 200px;
	font-size: 12px;
	padding: 3px 10px 3px 20px;
	-moz-border-radius: 10px;
	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

/* Custom
======================================== */

#mydata {}
#ipboard_body {padding-top: 14px;}
#divtochange .row a{
	display:block;
	float:left;
	clear:both;
	width:100%;
	padding:10px 0;
	text-align:center;
}

/* Screen Profile 
======================================== */

.p-wrap {
	width: 520px;
	float: left;
	padding-top: 15px;
	background: transparent url(http://pdf.lesoir.be//mon_profil/images/structure/background/top-content.gif) no-repeat 0 0;
	font-size: 0.8em;
}
.p-the-content {
	float: left;
	width: 520px;
	padding: 0 10px;
	background: transparent url(http://pdf.lesoir.be//mon_profil/images/structure/background/middle-content.gif) repeat-y 0 0;
}

.p-bottom {
	width: 520px;
	float: left;
	clear: left;
	height: 15px;
	font-size: 0;
	line-height: 1;
	overflow: hiddden;
	background: transparent url(http://pdf.lesoir.be//mon_profil/images/structure/background/bottom-content.gif) no-repeat bottom left;
}

div.ui-dialog-titlebar {
	display:block;
	line-height:1px;
	font-size:1px;
}

/* Main content = text
=============================================== */

.p-the-content h1 {
	color: #5e5c5a;
	text-align: center;
	font-size: 17px !important;
	font-weight: 900;
	text-shadow: 1px 1px 0 #f6f6f6;
	text-transform: none !important;
	font-family: Arial,FreeSans,Helvetica,'Trebuchet MS',Tahoma,verdana,sans-serif;
	line-height: 3em;
    margin-bottom: 0;
}
.p-the-content {color: #5e5c5a; text-shadow: 1px 1px 0 #f6f6F6}
.p-the-content h2 {
	font-size: 1em;
	font-weight: 400;
	color: black;
	padding: 10px 0 10px 10px;
	clear: both;
}
.p-the-content .separator {
	float: left;
	clear: both;
	margin: 10px 40px;
	border-top: 1px solid white;
	border-bottom: 1px solid #bfbcb6;
	width: 410px;
}
.p-the-content .separator span {
	display: none;
}

/* Main content = form
=============================================== */
.p-main-content {
	float: left;
	width: 520px;
}
.p-main-content a {color: black;}
.p-the-content  form {padding: 2px 0 20px 0;}
.p-the-content  form p {
    margin:0 0 20px 38px;
	padding:0 5px;
}
.p-the-content  form p .red {color: #800000;}
.p-the-content  form abbr {border: 0;}
.p-the-content  form .mdp, .p-the-content  form .maille {
	position: relative;
	top: 0;
}
.p-the-content  form #m-boite {margin-left: 5px; !important}
.p-the-content  form .row {
	float: left;
	clear: left;
	width: 100%;
	margin: 0;
	padding: 0 0 10px 0;

}
.p-the-content  form .form-text {
	background: white;
	padding: 1px;
	width: 198px;
	color: #5e5c5a;
	margin: 0;
	text-align: left;
	border: 1px solid #6a6866;
	float:left;
	height:16px !important;
}
.p-the-content  form .form-select {
	background: white;
	padding: 1px;
	width: 168px;
	margin: 0;
	text-align: left;
	border: 1px solid #6a6866;
	color: #5e5c5a;
	float:left; //ADDED BY JDA FOR THE LIGHTBOX REGISTER
}

.p-the-content  form .date {width: 88px;}
.p-the-content  form label, .p-the-content  form .label {
	display: block;
	float: left;
	color: #2a2a2a;
	text-align: right;
	margin: 0;
	padding-right: 8px;
	width: 190px;
	font-size:12px !important;
	font-weight:400 ! important;
}
.p-the-content  form label span, .p-the-content  form .label span {color: #800000;}
.p-the-content  form .checkboxB label {float:left; display: block; }
.p-the-content  form .some-result {padding-left: 139px; width: 359px;}
.p-the-content  form .row dt, .p-the-content  form .row dd {display: block; float: left; margin: 0 5px; width: 70px;}
.p-the-content  form .row dt {color: black;}
.p-the-content form .little-error {
	background: white url(http://pdf.lesoir.be//mon_profil/images/cross.gif) no-repeat 98% 50% !important;
	border: 1px solid #6A6866 !important;
}

.checkboxB .to-block {
	width: 410px;
	margin: 0 40px;
	float: left;
	clear: left;
	padding-bottom: 10px;
}
.checkboxB .to-block-newsletter {
	width: 200px;
	margin: 0 0 0 0;
	float: left;
	clear: left;
	padding-bottom: 3px;
}
.checkboxB .to-block input {float: left;}
.checkboxB .to-block label {display: block !important; text-align: left; width: 350px; padding-left: 15px; font-size: .9em; line-height: 1.2em; position: relative; top: 3px;}
.btn-submit {
	display: block;
	border: 0;
	background: #d47a22 url(http://pdf.lesoir.be//mon_profil/images/structure/background/item-03.gif) repeat-x bottom left;
	border-top: 2px solid #dc9754;
	text-shadow: 1px 1px #5d3915;
	color: white;
	font-size: 1em;
	font-weight: 900;
	padding: 2px 10px;
	margin: 10px 0 0 300px;
	text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	cursor: pointer;
	font-family: Tahoma, sans-serif;
}
.btn2-submit {
	display: block;
	border: 0;
	background: #d47a22 url(http://pdf.lesoir.be//mon_profil/images/structure/background/item-03.gif) repeat-x bottom left;
	border-top: 2px solid #dc9754;
	text-shadow: 1px 1px #5d3915;
	color: white;
	font-size: 1em;
	font-weight: 900;
	padding: 2px 10px;
	margin: 0 0 0 0;
	text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	cursor: pointer;
	font-family: Tahoma, sans-serif;
}
.btn-reset {
	display: inline;
	border: 0;
	background: #d47a22 url(http://pdf.lesoir.be//mon_profil/images/structure/background/item-03.gif) repeat-x bottom left;
	border-top: 2px solid #dc9754;
	text-shadow: 1px 1px #5d3915;
	color: white;
	font-size: 1em;
	font-weight: 900;
	padding: 2px 10px;
	margin: 0 10px 0 175px;
	text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	cursor: pointer;
	font-family: Tahoma, sans-serif;
	float:left;
	
}
.ersatz form p.button-right .btn-submit {
	display: inline-block !important;
	border: 0;
	margin: 71px 37px 0 0;
	background: #d47a22 url(http://pdf.lesoir.be//mon_profil/images/structure/background/item-03.gif) repeat-x bottom left;
	border-top: 2px solid #dc9754;
	text-shadow: 1px 1px #5d3915;
	color: white;
	font-size: 1em;
	font-weight: 900;
	padding: 2px 10px;
	text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	cursor: pointer;
	font-family: Tahoma, sans-serif;
	float:right;
}
.p-the-content  form .birth {position: relative;}
.p-the-content  form .birth img {
	position: absolute;
	left: 297px;
	top: -1px;
}
.p-main-content .error {font-size: 1.5em; text-align: center; font-weight: 400; color: #800000; margin: 0 0 10px 0;}
.p-the-content .error {
	font-weight: 900;
	font-size: 1em;
	color: #800000;
	text-align: center;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; width: 520px !important; z-index: 5004 !important;}
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(http://pdf.lesoir.be//mon_profil/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; float: left;}
.ui-widget-content a { color: #333333; }
/*.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold;}*/
.ui-widget-header { border: 0; background: white; color: #ffffff; font-weight: bold; height: 0;}
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(http://pdf.lesoir.be//mon_profil/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(http://pdf.lesoir.be//mon_profil/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(http://pdf.lesoir.be//mon_profil/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }

.ui-dialog-titlebar-close {
	position: absolute;
	top: 13px;
	right: 12px;
}
.ui-resizable-handle {display: none !important;}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(http://pdf.lesoir.be//mon_profil/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(http://pdf.lesoir.be//mon_profil/images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: urlhttp://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url("http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_222222_256x240.png"); }
.ui-widget-header .ui-icon {background-image: url("http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_ffffff_256x240.png"); }
.ui-state-default .ui-icon { background-image: url(http://pdf.lesoir.be//mon_profil/images/ui-icons_ef8c08_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_ef8c08_256x240.png); }
.ui-state-active .ui-icon {background-image: url(http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_ef8c08_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_228ef1_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-icons_ffd27a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); z-index:5002 !important;}
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(http://pdf.lesoir.be/liseuseSSO/js/ui-lightness/images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*


