body {background-color:#001F1F;}
a:link, a:visited {color:#006699;}
a:hover {color:#000000;}
.header h1 a {color:#000000;}

.pagination a:link, .pagination a:visited {background-color:#B60002;}
.pagination a:hover, .pagination a.selected{background-color:#000000;}

.box h2 a, .box h2, .largebox h2, .largebox h2 a, .sidebar h2, .post h2 a, .post h2 {color:#000000;}
.htabs li a {background-color:#B60002;}
.htabs li a.active {background-color:#333333;}

.formsubmit {background-color:#B60002;}
