/* Sommaire
------------------------------
    1. Structure
    2. Contenu
    	2.1 Images
    3. Disparition

*/

/* REGLES : lineariser la page (pas de float), width 100%, retrecissement du header, diminuer les margin et padding  */


/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. Structure <<<-----------*/
/* ----------------------------------------------------------*/

body {
	border-top: none;
	font-family: sans-serif;
	padding-bottom: 5px;
}


/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. Contenu <<<-----------*/
/* ----------------------------------------------------------*/

	  /* -------------------------------------------------------------------------------------------------->>> 2.1 Images <<<-----------*/

img	{
	max-width: 100%;
	height: auto;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 3. Disparition <<<-----------*/
/* ----------------------------------------------------------*/
