/* Resume
------------------------------

*/

/* Colors
------------------------------
	# texte courant : #2a2a2a
	# red soirmag : #BE0612
	# actu soirmag : #88947B
	# actu tvnews : #4C3F3F
	# actu royal : #C3BD91
	# actu star : #2A2727
	# bleu canard : #5CCCCC
*/

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. Structure <<<-----------*/
/* ----------------------------------------------------------*/

.list-it ul {
	list-style: none none;
	margin: 0;
	padding-bottom: 20px;
}
.list-it ul li {
	margin: 20px 0 0 0;
	width: 300px;
	height: 201px;
	background: transparent;
}
.list-it ul li a {
	display: block;
	position: relative;
}
.list-it ul li h3 {
	background: rgba(0,0,0,0.9);
	text-shadow: 1px 1px 0 black;
	color: #BE0612;
	display: block;
	position: absolute;
	margin: 0;
	padding: 5px;
	bottom: 5px;
	left: 0;
}



.actu-tv-news #global h1 {
	background: transparent url("../mediastore/temp/pager2.jpg") no-repeat 0 0;
	display: block;
	float: left;
	clear: left;
	width: 100%;
	padding-top: 1px;
	height: 59px;
	font-weight: 400;
	margin-bottom: 20px;
}
.actu-tv-news #global h1 span {
	display: block;
	color: white;
	text-shadow: -1px -1px 0 black;
	padding: 15px 0 0 30px;
}
.excerpt {
	background: white;
	margin-bottom: 20px;
	position: relative;
}
.excerpt h2, #index .excerpt h2 {
	background: transparent;
	border: 0;
	text-transform: none;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 1.7em;
	font-weight: 400;
	text-align: left;
	color: black;
	line-height: 1.1em;
	margin-bottom: 0;
	padding: 0 10px;
}
.excerpt img {
	display: block;
	float: left;
	padding: 10px;
}
.excerpt small {
	color: #9797A0;
	display: block;
	padding: 10px 10px 0 10px;
	text-transform: uppercase;
}
.excerpt p {
	color: #333;
	padding: 10px 10px 0 10px;
	text-align: justify;
}
.actu-tv-news #global .grid_4 h3 {
	padding: 10px;
}
.excerpt .connect_button_container {
	float: right;
	margin: 10px 10px 0 0;
}


#the-title-tv {margin-bottom: 20px;}

#col-02 .une-chaine {
	background: white;
	width: 298px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.une-chaine h2 {
	margin: 0;
	background: white;
	padding: 0;
	border: 0;
	text-align: center;
}
.une-chaine table {
	width: 278px;
	margin: 10px;
}
.une-chaine table tr td {
	padding: 2px;
	text-align: left;
}
.une-chaine table tr .heure {
	width: 50px;
	padding-right: 10px;
	text-align: right;
}
.une-chaine table tr {
	border-bottom: 1px dotted #ccc;
}
.une-chaine table .last {
	border: 0;
}

#bloc-video {
	background: white;
	margin-bottom: 20px;
}

#alaune {
	margin-bottom: 20px;
}
#alaune h2 {
    background: url("../mediastore/elements/top-deg.gif") no-repeat scroll right top #464B4C;
    border-bottom: 2px solid #1F2224;
    color: white;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
.christine {
	background: white;
	width: 290px;
	float: left;
	padding: 10px;
}
.christine img {
	display: block;
	float: left;
	padding-right: 20px;
}
.christine p {text-align: justify;}
