/* Sommaire
------------------------------
    1. Structure
    2. Contenu
    	2.1 Images
    	2.2 Liens
    	2.3 Tableaux
    3. Disparition

*/

/*@page {
	size: portrait; landscape
}*/

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. Structure <<<-----------*/
/* ----------------------------------------------------------*/

body { 
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1.4;
	word-spacing: 1.1pt;
	letter-spacing: 0.2pt;
	font-family: Garamond, 'Times New Roman', serif;
	color: black;
	background: none;
	font-size: 12pt;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. Contenu <<<-----------*/
/* ----------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 { font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif; }
#header h1 img {background: white;}
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:12pt;}

code, pre { font: 10pt 'Courier New', Courier, monospace;}
acronym, abbr {border: none;} 
blockquote,q {
	font-style: italic;
	quotes:'\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
}

hr { background-color: #ccc; }

acronym:after, abbr:after {
	content:" ("attr(title)") ";
	font-variant:small-caps;
}

  /* -------------------------------------------------------------------------------------------------->>> 2.1 Images <<<-----------*/
 
a img {border: none;}

  /* -------------------------------------------------------------------------------------------------->>> 2.2 Liens <<<-----------*/

a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color: #333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color: black; }

  /* -------------------------------------------------------------------------------------------------->>> 2.3 Tableaux <<<-----------*/

table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: 900; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: white; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 3. Disparition <<<-----------*/
/* ----------------------------------------------------------*/

#evitement, .breadcrumb, .addenda, #top_content, #bottom_content, #menu, #header, #article-section, #colonne-milieu, #col-02, #wrap-footer, #leaderboard, .galeria-tools, .share, #bloc-rdv {
	display: none;
}
#article h1 {margin: 0;}
#galeria ul {list-style: none none;}
#galeria li {position: static !important; list-style: none;}
#galeria img {
	position: static;
	display: block;
	margin: 0 auto;
}
#galeria .galeria-legend {
	font-style: italic;
	margin: 0 0 4pt 0;
}
#article p {
	text-align: justify;
}
