/* Sommaire
------------------------------
    1. Redefinition des balises html
    2. Regles generales
    	2.1 Politique des liens
    	2.2 Politique des guillemets
*/

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. Redefinition des balises html <<<-----------*/
/* ----------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {
  font-style:italic;
}

ins {text-decoration: none;}
del {text-decoration: line-through;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {font-size:100.1%}
strong {font-weight: 900;}
em {font-style: italic;}
sup {font-size: small; vertical-align: super;}
sub {font-size: small; vertical-align: sub;}
abbr, acronym {
	border: 0;
	cursor: help;
}
abbr {text-transform: capitalize;}
acronym {text-transform: uppercase;}
label, button, input[type=submit] {cursor: pointer;}
code, pre, kbd {font-family: 'Courier New', Courier, monospace;}
small {font-size:85%;}
big {font-size:125%; line-height:80%;}
blockquote, q, cite {
	font-family: Georgia, sans-serif;
	font-size: 1.5em;
	line-height: 1.2em;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. General rules <<<-----------*/
/* ----------------------------------------------------------*/

.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.hide {display: none;}
.img_middle {
	display: block;
	margin: 1em auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

	/* -------------------------------------------------------------------------------------------------->>> 2.1 Politique des liens <<<-----------*/

a:link, a:visited {
	color: #BE0612;
	text-decoration: none;
}
a:active, a:hover, a:focus {
	color: #BE0612;
	text-decoration: underline;
}

a img, :link img, :visited img {border: 0;}
a.ext {padding-right: 7px;}
a.ext:hover {
	padding-right: 7px;
}

	/* -------------------------------------------------------------------------------------------------->>> 2.2 Politique des guillemets <<<-----------*/

:lang(af),:lang(nl),:lang(pl) {
	quotes:'\201E' '\201D' '\201A' '\2019';
}

:lang(bg),:lang(cs),:lang(de),:lang(is),:lang(lt),:lang(sk),:lang(sr),:lang(ro) {
	quotes:'\201E' '\201C' '\201A' '\2018';
}

:lang(da),:lang(hr) {
	quotes:'\00BB' '\00AB' '\203A' '\2039';
}

:lang(el),:lang(es),:lang(sq),:lang(tr) {
	quotes:'\00AB' '\00BB' '\2039' '\203A';
}

:lang(en-GB) {
	quotes:'\2018' '\2019' '\201C' '\201D';
}

:lang(fi),:lang(sv) {
	quotes:'\201D' '\201D' '\2019' '\2019';
}

:lang(fr) {
	quotes:'\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a';
}

*[lang|='en'] q:before {
	content:'\201C';
}

*[lang|='en'] q:after {
	content:'\201D';
}

*[lang|='en'] q q:before {
	content:'\2018';
}

*[lang|='en'] q q:after {
	content:'\2019';
}