/* Resume
------------------------------
    1. Skeleton
    	1.1 block definition
    	1.2 sections colors
    	1.3 links
    2. Header
    	2.1 Logo
    	2.2 Ads
    	2.3 Layout tools
    3. Navigation
	    3.1 Second level navigation
    	3.2 Search
    4. Top extras
    	4.1 Leaderboard
    	4.2 Signup means
    5. Main column
    	5.1 Main events box
    	5.2 Actustar news box
    	5.3 tv news box
    6. Right column
    	6.1 Last photos / Last photos
    	6.2 most vote
    	6.3 auto promo
    	6.4 Agenda Box
    	6.5 Moi jeux box / Carchannel Box
    	6.6 Box Ticketnet
    	6.7 Box Birthday
    7. Footer
    	7.1 Return top
    	7.2 Search

*/

/* Couleurs
------------------------------
	# texte courant : #2a2a2a
	# red soirmag : #BE0612
*/

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 1. Skeleton <<<-----------*/
/* ----------------------------------------------------------*/

body {
	background-color: #2A2727;
	background-image: url(../mediastore/elements/bg.jpg);
	background-repeat: repeat-x;
	background-position: 0 136px;
}
.has_js #search-submit, .has_js #search-submit-bis {display: none;}
.messages {
    background: #E9E9E9;
    border-color: white #BABABA #BABABA white;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 20px 0;
    padding: 5px;
	color: #767676;
	text-shadow: 1px 1px 0 rgba(255,255,255, 1);
}

	  /* -------------------------------------------------------------------------------------------------->>> 1.1 block definition <<<-----------*/

#global {
	background: #EAE7DA;
	padding: 20px 10px 0 10px;
	position: relative;
	z-index: 40;
}
#header, #footer {
	width: 100%;
	background: #BE0612;
}
#header {
	padding-bottom: 10px;
	z-index: 200;
	position: relative;
	background: #BE0612 url("../mediastore/elements/bg-header.gif") repeat-x bottom left;
	height:113px;
}
.actu-tv-news #header {
	background: #219bbe;
}
#header .container_12 {
	padding-top: 20px;
	position: relative;
}
#leaderboard {
	margin-bottom: 20px;
	text-align: center;
}
#leaderboard img, #leaderboard object {
	display: block;
	margin: 0 auto;
	text-align: center;
}

	  /* -------------------------------------------------------------------------------------------------->>> 1.2 sections colors <<<-----------*/

.mega-title {
	float: right;
	margin: 0 20px 0 0;
}
#header .mega-title h1 {
	color: white;
	display: block;
	float: right;
	margin: 0;
	position: relative;
	top: 21px;
	
	font-size: 5em;
	text-shadow: 	#fff 0 0 1px, 
					#eee 0 4px 3px, #ddd 0 1px 1px,  #ccc 0 2px 1px, 
					rgba(0,0,0,0.2) 0 4px 1px, rgba(0,0,0,0.1) 0 7px 2px,
					rgba(0,0,100,0.2) 0 7px 30px;
}

	  /* -------------------------------------------------------------------------------------------------->>> 1.3 links <<<-----------*/

.connect_widget_like_button {
	background-color: #ECEEF5;
	border: 1px solid #CAD4E7;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
	display: block;
	padding: 4px 5px;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
.connect_widget_like_button .liketext {
    background: transparent url("http://static.ak.fbcdn.net/rsrc.php/zh/r/Ch71Zv858xU.png") no-repeat scroll left -33px;
    color: #3B5998;
    display: block;
    padding-left: 17px;
    white-space: nowrap;
}
.connect_widget_like_button:hover, .connect_widget_like_button:focus {
	border-color: #9DACCE;
	text-decoration: none;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 2. Header <<<-----------*/
/* ----------------------------------------------------------*/

#header h2 {
	border-bottom: 3px solid white;
    color: white;
    font-family: 'Lucida Grande','Lucida Sans Regular','Lucida Sans Unicode',FreeSans,Verdana,Arial,Verdana,sans-serif;
    font-size: 1em;
    margin: 0 0 6px;
    padding: 0 0 1px 3px;
    text-transform: uppercase;
}

	  /* -------------------------------------------------------------------------------------------------->>> 2.1 Logo <<<-----------*/

#header #logo {
	display: block;
    float: left;
    left: 8px;
    position: relative;
    top: 6px;
    width: 300px;
}
#header #logo span {
	color: white;
    font-family: Georgia,serif;
    font-style: italic;
    left: 75px;
    position: absolute;
    top: 45px;
    white-space: nowrap;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#header #logo span em {
	padding-left: 33px;
}
#header #logo:focus {background: transparent;}
#header #logo:hover, #header #logo:focus {
	text-decoration: none;
}

	  /* -------------------------------------------------------------------------------------------------->>> Meteo <<<-----------*/

#header #meteo {
	float: right;
	margin: 0;
	width:217px;
}

#header #meteo p{
	float:left;
	text-align:right;
	padding:0 10px 0 0;
	line-height:1.25em;
	width:135px;
}

#header #meteo img{
	float:left;
}

#header #meteo p strong{
	text-transform:uppercase;
	display:block;
	color:black;
}

#header #meteo p span {
	display:block;
	color:white;
}

	  /* -------------------------------------------------------------------------------------------------->>> 2.3 Social <<<-----------*/

#header #social {
	float: right;
	margin: 0 0 0 20px;
	width:60px;
}
#header #social ul {
	float: left;
	list-style: none none;
	text-align: center;
}
#header #social ul li {
	display: block;
    margin: 0 6px 0 0;
	float:left;
}
#header #social ul li.last {
	margin:0;
}
#header #social ul li img {
	display: block;
}
#header #social a.ext {padding-right: 0;}
#header #social a.ext:hover {
	padding-right: 0;
	background: none;
}

	  /* -------------------------------------------------------------------------------------------------->>> 3.2 Search <<<-----------*/

#search {
	float: right;
	padding: 0;
}
#search label {display: none;}
#search form input {border: 0;}
#search #search-submit {
	border: 0;
	background: white;
	color: black;
	float: left;
	font-weight: 900;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 4px;
	position: relative;
	left: 10px;
}
#search #search-submit:hover {
	background: #5CCCCC;
	color: black;
}
#search #search-text {
	background: url("../mediastore/elements/recherche_header_bg.gif") no-repeat scroll left top #EBE7DB;
    border: 0 none;
    color: black;
    font-size: 0.9em;
    height: 20px;
    padding: 2px 5px 0 25px;
    width: 137px;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 3. Navigation <<<-----------*/
/* ----------------------------------------------------------*/

#menu {
	width: 100%;
	background: #171A1D url("../mediastore/elements/bg-menu.png") repeat-x 0 0;
	z-index: 200;
	padding: 7px 0;
	position: relative;
}
#menu #wrap-inside-menu {
	background: transparent url("../mediastore/elements/bouton2.png") repeat 0 0;
}
#menu div {
	position: relative;
}
#menu ul {
	float: left;
	list-style: none none;
	margin-bottom: 0;
	padding-left: 10px;
}
#menu ul li {
	display: block;
	float: left;
	line-height: 1.7em;
	padding: 0;
	margin: 0 10px 0 0;
	position: relative;
}
#menu ul li a {
	background: #363A3C url("../mediastore/elements/bg-link-menu.gif") no-repeat center center;
	border-top: 1px solid #8A9AA0;
	border-left: 1px solid #484E51;
	border-right: 1px solid #484E51;
	border-bottom: 1px solid #393D40;
	display: block;
	float: left;
	color: #ccc;
	font-family: 'Trebuchet MS', arial, sans-serif;
	font-weight: 900;
	padding: 0 10px;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 #2a2a2a;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}
#menu ul li.selected a, #menu ul li a:hover, #menu ul li a:focus {
	color: #fff;
	text-decoration: none;
}

	  /* -------------------------------------------------------------------------------------------------->>> 3.1 Second level navigation <<<-----------*/

#menu .all-tv {
	background: #219bbe url("../mediastore/elements/icons/YouTube.png") no-repeat 5px 2px;
	border-top: 1px solid #3bafcc;
	border-bottom: 1px solid #147fa8;
	border-left: 1px solid #239cbf;
	border-right: 1px solid #239cbf;
	color: white;
	display: block;
	float: right;
	font-family: 'Trebuchet MS', arial, sans-serif;
	line-height: 1.7em;
	margin-right: 10px;
	padding: 0 10px 0 25px;
	text-align: center;
	text-shadow: -1px -1px 0 #147fa8;
	text-transform: uppercase;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}
#menu ul .all-tv a {
	color: white;
	border: 0;
	padding: 0;
	background: transparent;
}
.actu-tv-news #menu .all-tv {display: none;}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 4. Top extras <<<-----------*/
/* ----------------------------------------------------------*/


	  /* -------------------------------------------------------------------------------------------------->>> 4.1 Leaderboard <<<-----------*/


	  /* -------------------------------------------------------------------------------------------------->>> 4.2 Signup means <<<-----------*/

a.abo {
	background: #E9E9E9;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #BABABA;
	border-bottom: 1px solid #BABABA;
	display: block;
	color: black;
	margin: 0 auto;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
a.abo:hover {
	background: #F0F0F0;
	border-top: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

#rss ul {
	padding-top: 20px;
	list-style: none none;
}
#rss ul li {
	display: block;
	float: left;
	margin: 0;
	padding:  0 0 0 11px;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 5. Main column <<<-----------*/
/* ----------------------------------------------------------*/


	  /* -------------------------------------------------------------------------------------------------->>> 5.1 Main events box <<<-----------*/


	  /* -------------------------------------------------------------------------------------------------->>> 5.3 Cinema box <<<-----------*/
	 
#cinema a {
	display: block;
	margin: 10px auto;
	position: relative;
	width: 120px;
}
#cinema a span {
	background: transparent url(../mediastore/elements/cinema-frame.png) no-repeat 0 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 190px;
}
#cinema a:hover span {background: transparent url(../mediastore/elements/cinema-frame-on.png) no-repeat 0 0;}
#cinema a:hover {text-decoration: none;}
#cinema h3 {
	font-size: 1em;
	text-align: center;
}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 6. Right column <<<-----------*/
/* ----------------------------------------------------------*/


	  /* -------------------------------------------------------------------------------------------------->>> 6.1 Toute la télé <<<-----------*/

#all-the-tv {
	background: white;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#all-the-tv ul {
	list-style: none none;
	padding: 10px;
}
#all-the-tv ul li {
	margin-left: 0;
	padding-bottom: 10px;
	float: left;
	clear: left;
	width: 100%;
}
#all-the-tv ul li img {
	display: block;
	float: left;
	padding-right: 10px;
}
#all-the-tv ul li h3 {
	font-size: 1em;
	margin: 0;
}
#all-the-tv ul li p {
	padding-left: 80px;
	margin-bottom: 10px;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.2 Most vote <<<-----------*/

#bloc-top-5 {
	background: white;
	margin-bottom: 20px;
}
#bloc-top-5 ol {
	color: rgb(190,6,18);
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 1.5em;
	line-height: .7em;
	padding-top: 10px;
	padding-left: 35px;
}
#bloc-top-5 ol li {
	border-bottom: 1px dotted #ccc;
	margin: 0 20px 0 0;
}
#bloc-top-5 ol li:hover {
	cursor: pointer;
}
#bloc-top-5 ol li span {
	display: block;
	font-family: 'Lucida Grande', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: .7em;
	line-height: 1.3em;
	padding-top: .5em;
	padding-bottom: .5em;
}
#bloc-top-5 ol li span a {color: #2a2a2a;}
#bloc-top-5 ol li span a:hover {text-decoration: underline;}

	  /* -------------------------------------------------------------------------------------------------->>> 6.3 Bloc blogs <<<-----------*/

#bloc-blog {
	background: white;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#bloc-blog ul {
	list-style: none none;
	padding: 10px;
}
.grid_2 #bloc-blog ul {
	padding: 0;
}
#bloc-blog ul li {
	margin: 10px;
	float: left;
	width: 120px;
	height: 128px;
}
.grid_2 #bloc-blog ul li {
	clear: left;
}
#bloc-blog ul li a {
	display: block;
	width: 120px;
	position: relative;
}
#bloc-blog ul li a span.overlay {
	background: transparent url(../mediastore/elements/frame-gd.png) no-repeat 0 0;
	display: block;
	overflow: hidden;	
	position: absolute;
	top: 0;
	left: 0;
	height: 128px;
	width: 120px;
}
#bloc-blog ul li a:hover {text-decoration: none;}
#bloc-blog ul li a:hover span.overlay {background: transparent url(../mediastore/elements/frame-gd-on.png) no-repeat 0 0;}

	  /* -------------------------------------------------------------------------------------------------->>> 6.4 Bloc twitter <<<-----------*/

#follow-us {
	background: white url("../mediastore/elements/twitter.gif") no-repeat 0 0;
	margin-bottom: 20px;
	height: 75px;
	overflow: hidden;
}
#follow-us p {
	color: white;
	display: block;
	margin: 3px 0 0 102px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
	width: 170px;
}
#follow-us p a {color: white; text-decoration: underline;}
#follow-us p a:hover {text-decoration: none;}

a.more {
	display: block;
	margin-right: 10px;
	text-align: right;
}
a.more {
	clear: right;
	color: #BE0612;
	float: right;
	font-size: .8em;
	font-weight: 900;
	background: #f3f3f3 url(../mediastore/elements/plus.gif) no-repeat 3px 50%;
	border: 1px outset #2a2a2a;
	padding-left: 16px;
	padding-right: 5px;
	margin-top: 5px;
	text-transform: uppercase;
		/* nanana */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
}
a.more:hover {
	color: black;
	border: 1px outset black;
	text-decoration: none;
}
a.more:focus {outline: 0;}
.brique .more {clear: both;}
.hide {display: none !important;}

	  /* -------------------------------------------------------------------------------------------------->>> 6.5 Bloc rendez-vous <<<-----------*/

#bloc-rdv {
	background: white;
	float: left;
	margin: 0 10px 40px 10px;
	width: 940px;
}
#bloc-rdv h2 {
	background: #ffb900;
	padding: 2px;
	margin: 0;
}
#bloc-rdv ul {list-style: none none; padding: 20px 10px 10px 10px; float: left; margin: 0;}
#bloc-rdv ul li {margin: 0 10px; display: block; float: left;}

#bloc-rdv ul li a {
	display: block;
	width: 120px;
	position: relative;
}
#bloc-rdv ul li a span.overlay {
	background: transparent url(../mediastore/elements/frame-gd.png) no-repeat 0 0;
	display: block;
	overflow: hidden;	
	position: absolute;
	top: 0;
	left: 0;
	height: 128px;
	width: 120px;
}
#bloc-rdv ul li a:hover {text-decoration: none;}
#bloc-rdv ul li a:hover span.overlay {background: transparent url(../mediastore/elements/frame-gd-on.png) no-repeat 0 0;}

#bloc-rdv .infos {
	background: #555;
	border: 1px solid #333;
	float: left;
	margin: 20px 0 0 0;
	padding: 10px;
	width: 178px;
	height: 98px;
		border-radius: 2px;
		-moz-border-radius: 2px;
}
#bloc-rdv .infos h3, #bloc-rdv .infos p {
	color: white;
	text-shadow: -1px -1px 0 #2a2a2a;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.6 Bloc Mad <<<-----------*/

#mad-bloc {
	background: white;
	margin-bottom: 20px;
}
#mad-bloc h2 {
	background: transparent;
	border-bottom: 2px solid #ccc;
	padding: 2px 0 0 10px;
	text-align: left;
}
#mad-bloc h2 img {
	display: block;
}
#mad-bloc ul {padding: 0 10px 10px 10px; list-style: none none;}
#mad-bloc ul li {
	float: left;
	clear: left;
	margin: 0;
	padding: 10px 0 9px 0;
	border-bottom: 1px dotted #666;
	width: 100%;
}
#mad-bloc ul li:last-child {border: 0;}
#mad-bloc ul li h3 {
	display: block;
	float: right;
	margin: 0 !important;
}
#mad-bloc ul li h3 a {
	display: block;
	float: right;
	width: 20px;
	height: 85px;
	text-indent: -999em;
	font-size: 0;
	margin: 0;
}
#mad-bloc ul .scenes h3 a {
	background: transparent url("../mediastore/elements/scenes.gif") no-repeat bottom left;
}
#mad-bloc ul .cinema h3 a {
	background: transparent url("../mediastore/elements/cinema.gif") no-repeat bottom left;
}
#mad-bloc ul .poprock h3 a {
	background: transparent url("../mediastore/elements/poprock.gif") no-repeat bottom left;
}
#mad-bloc ul .cinema h3 a {
	background: transparent url("../mediastore/elements/cinema.gif") no-repeat bottom left;
}
#mad-bloc ul .jeux h3 a {
	background: transparent url("../mediastore/elements/jeux.gif") no-repeat bottom left;
}
#mad-bloc ul .loisirs h3 a {
	background: transparent url("../mediastore/elements/loisirs.gif") no-repeat bottom left;
}
#mad-bloc ul .classique h3 a {
	background: transparent url("../mediastore/elements/classique") no-repeat bottom left;
}
#mad-bloc ul li img {
	display: block;
	float: left;
	padding: 0 10px 0 0;
}
#mad-bloc ul li h4 {
	margin: 0;
	font-size: 1em;
}
#mad-bloc ul li p {
	color: #333;
	padding-left: 80px;
}
#mad-bloc ul li p span {
	color: #666;
	font-size: .85em;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.7 Box Birthday <<<-----------*/

#facebook-bloc {
	background: white;
	height: 250px;
	margin-bottom: 20px;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.8 Boutique Soir <<<-----------*/

#boutique-soir {
	background: white;
	margin-bottom: 20px;
}
#boutique-soir ul {
	list-style: none none;
	padding: 10px;
}
#boutique-soir ul li {
	margin-left: 0;
	padding-bottom: 10px;
	float: left;
	clear: left;
	width: 100%;
}
#boutique-soir ul li img {
	display: block;
	float: left;
	padding-right: 10px;
}
#boutique-soir ul li h3 {
	font-size: 1em;
	margin: 0;
}
#boutique-soir ul li h3 span {
	padding-left: 20px;
	background: transparent url("../mediastore/elements/icons/basket.png") no-repeat center left;
}
#boutique-soir ul li p {
	padding-left: 80px;
	margin-bottom: 10px;
}

#videos-bloc {
	background: white;
	margin-bottom: 20px;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.9 Cette semaine <<<-----------*/

#cette-semaine {padding-bottom: 10px;}
#cette-semaine h3 {
	color: #c90c21;
	font-family: Georgia, serif;
	line-height: 1.1em;
	padding: 5px 10px;
	margin: 0 0 5px 0;
}
#cette-semaine .visuel {
	float: left;
	margin: 0 10px;
	position: relative;
}
#cette-semaine .visuel:hover {text-decoration: none;}
#cette-semaine .visuel span {
	background: transparent url("../mediastore/elements/frame-cover.png") no-repeat 0 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 117px;
	height: 175px;
}
#cette-semaine ul {
	list-style: none none;
}
#cette-semaine ul li {
	margin: 0 10px 0 137px;
	padding: 5px 0;
	line-height: 1.2em;
	border-bottom: 1px dotted #ccc;
}
#cette-semaine ul li:first-child {
	padding: 0 0 5px 0;
}
#cette-semaine ul li a {color: #2a2a2a}
#cette-semaine .button {
	margin: 0 10px 0 0;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.10 Sondage <<<-----------*/

.poll .form-radios, .poll .wrap_total {
	background: #f3f3f3;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}
.poll .total {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	color: black;
}
.poll h3 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 1.1em;
	color: #2a2a2a;
	padding: 5px 10px;
	margin: 0;
	font-weight: 400;
}
.poll .form-radios .form-item {
	float: left;
	clear: left;
	margin: 0;
	width: 100%;
	padding-bottom: 5px;
}
.poll .form-submit {
	border: 0;
}
.poll ul {
	margin: 10px 0;
}
.poll .bar .foreground {
    background-color: #C90C21;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.11 Fil Infos <<<-----------*/

.infos table {
	margin: 10px;
}
.grid_4 .infos table {width: 280px;}
.infos .jump-to-me {float: left;}
.infos table thead {
	display: none;
}
.infos table td {
	vertical-align: top;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #ccc;
}
.infos table .hour {
	color: #c90c21;
	text-align: right;
	padding-right: 10px;
	font-family: arial, sans-serif;
} 
.infos table a {
	color: #2a2a2a;
}
.infos ul {
	float: right;
	margin: 0 10px 10px 0;
	list-style: none none;
}
.infos ul li {
	display: block;
	float: left;
	width: 8px;
	height: 8px;
	margin: 0 0 0 5px;
}
.infos ul li a {
	background: transparent url("../mediastore/elements/pager-btn.gif") no-repeat bottom left;
	display: block;
	float: left;
	width: 8px;
	height: 8px;
	text-indent: -1000em;
}
.infos ul .current a {
	background: transparent url("../mediastore/elements/pager-btn.gif") no-repeat top left;
}
.infos ul li a:focus {outline: 0;}
.infos #overflow-me {
	overflow: hidden;
}
.infos #all-ersatz {
	width: 1500px;
	height: 225px;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.12 Liste a puces dans une boite liste <<<-----------*/

.list-it {background: white;}
.list-it ul {
	list-style: none none;
	margin: 0;
	padding: 10px 10px 0 10px;
}
.list-it ul li {
	margin: 0 0 10px 0;
	width: 280px;
	height: 180px;
	background: transparent;
}
.list-it ul li a {
	color: white;
	display: block;
	position: relative;
}
.list-it ul li h3 {
	background: rgba(0,0,0,0.9);
	text-shadow: 1px 1px 0 black;
	color: #fff;
	display: block;
	position: absolute;
	margin: 0;
	padding: 5px;
	bottom: 4px;
	left: 0;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.13 Text List <<<-----------*/

.text-list img {
	display: block;
	margin: 10px;
}
.text-list a {color: #2a2a2a;}
.text-list h3 {
	margin: 0 10px 0 10px;
	padding-bottom: 10px;
	font-size: 2em;
	line-height: 1em;
}
.text-list p {
	font-size: .9em;
	line-height: 1.3em;
	color: #666;
	padding: 0 10px 0 10px;
	text-align: justify;
}
.text-list h3 a {color: black;}
.text-list ul {
	border-top: 1px dotted #ccc;
	list-style: none none;
	margin: 0 10px;
	padding: 0;
}
.text-list ul li {
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px dotted #ccc;
}
.text-list ul li:last-child {
	border: 0;
}
.text-list ul li a {
	font-family: Georgia, serif;
	font-size: 1.3em;
	line-height: 1em;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.12 Une Galerie <<<-----------*/

.galeria img {
	display: block;
	position: relative;
}
.galeria ul {
	border-top: 2px solid black;
	list-style: none none;
	padding: 10px;
	margin: 0;
	background: #464b4e;
}
.galeria ul li {
	margin: 0 10px 0 0;
	display: block;
	float: left;
}
.galeria ul li img {
	padding: 1px;
	background: white;
	border: 1px solid black;
}
.galeria ul li a {
	display: block;
	float: left;
}
.galeria ul li a:hover, .galeria ul li a:focus {
	text-decoration: none;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.13 Une video <<<-----------*/

.videos {
	background: black;
}

	  /* -------------------------------------------------------------------------------------------------->>> 6.14 The Wall <<<-----------*/

#the-wall {
	background: white;
	height: 620px;
	overflow: hidden;
}
#the-wall a {
	position: relative;
	display: block;
}
#the-wall a:hover, #the-wall a:focus {
	text-decoration: none;
}
#the-wall div {
	margin-bottom: 20px;
}
#the-wall a img {
	display: block;
}
#the-wall a h2 {
	position: absolute;
	color: #000;
	background: rgba(255,255,255,0.7);
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 5px;
	display: block;
}
#the-wall a:hover h2 {
	color: #fff;
	background: rgba(0,0,0,0.7);
}
#the-wall .grid_2 h2 {width: 130px;}
#the-wall .grid_4 h2 {width: 290px;}

/* ----------------------------------------------------------------------------*/
  /* -------------------------------------------------------------------------------------------------->>> 7. Footer <<<-----------*/
/* ----------------------------------------------------------*/

#wrap-footer {
	background:#8e0001 url('../mediastore/elements/footer_bg.jpg') repeat-x top left;
	overflow:hidden;
}

#footer {
	color: white;
	position: relative;
	background:url('../mediastore/elements/footer_top_bg.jpg') no-repeat top center;
	width:990px;
	margin:0 auto;
	padding-top:22px;
}
#footer a {color: white;}
#footer ul {
	list-style-image: none;
	list-style-type:none;
}

#footer .grid_2 {
	background: url("../mediastore/elements/footer_col1_bg.jpg") no-repeat scroll left top #BE0612;
    margin-top: 3px;
    padding: 1px 0 0;
}

#footer .grid_2 img{
	margin:15px 0 8px 7px;
}

#footer .grid_2 ul {
	margin:0 0 15px;
}

#footer .grid_2 ul li {
	margin:0 0 0 8px;
	line-height: 1.25em;
}

#footer .grid_2 ul li a {
	text-transform:uppercase;
	color:white;
}

#footer .grid_2 strong {
	display:block;
	color:black;
	text-transform:uppercase;
	margin:0 0 2px 8px;
	font-weight: 900;
}

#footer #search-bis {
	padding:15px 0 0 0;
}

#footer #search-bis #search-text-bis{
	background: url("../mediastore/elements/recherche_footer_bg.gif") no-repeat scroll left top #EBE7DB;
    border: 0 none;
    color: black;
    font-size: 0.9em;
    height: 20px;
    padding: 2px 5px 0 25px;
    width: 190px;
}

#IE6 #footer #search-bis #search-text-bis, #IE7 #footer #search-bis #search-text-bis, #IE #footer #search-bis #search-text-bis{
	padding-top:5px;
	height:17px;
}

#footer .grid_7 .bloc {
	background:#be0612;
	float:left;
	width:540px;
	margin:20px 0 0 0;
	font-size: .9em;
}

#footer .grid_7 .bloc strong {
	display: block;
	padding: 10px;
	color: black;
	text-transform: uppercase;
	font-weight: 900;
}

#footer .grid_7 .bloc ul{
	float: left;
    padding: 0 8px 0 10px;
    width: 117px;
	overflow:hidden;
}

#footer .grid_7 .bloc ul li{
	margin:0;
	font-size:1em;
	white-space: nowrap;
}

#footer .grid_3 {
	padding:20px 0 0 0;
}

#footer .grid_3 p {
	font-size: .9em;
	padding: 0 0 10px;
	margin: 0;
	line-height: 1.3em;
}


	  /* -------------------------------------------------------------------------------------------------->>> 7.1 Return top <<<-----------*/
 
.return-top {
	height: 26px;
    left: 50%;
    margin: 0 -20px;
    position: absolute;
    text-align: center;
    top: 0;
}
.return-top a {
	background: #BE0612;
	display: block;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	letter-spacing: .1em;
	height: 26px;
}
.actu-tv-news .return-top a {
	background: #219bbe;
}

